Repository cloud-custodian/cloud-custodian, pull requests merged in 2018-08, with the labels that each got.

#2702 docs - clarify output directory is required, fix cloudwatch logs docs
  c7n/cli.py
  docs/source/quickstart/index.rst
Labels: area/docs

#2663 actions/notify - add support for message attribtues in sns transport
  c7n/actions.py
  tests/data/placebo/test_sns_notify_action_with_msg_attr/iam.ListAccountAliases_1.json
  tests/data/placebo/test_sns_notify_action_with_msg_attr/sns.GetTopicAttributes_1.json
  tests/data/placebo/test_sns_notify_action_with_msg_attr/sns.ListSubscriptionsByTopic_1.json
  tests/data/placebo/test_sns_notify_action_with_msg_attr/sns.ListTopics_1.json
  tests/data/placebo/test_sns_notify_action_with_msg_attr/sns.Publish_1.json
  tests/data/placebo/test_sns_notify_action_with_msg_attr/sqs.ReceiveMessage_1.json
  tests/data/placebo/test_sns_notify_action_with_msg_attr/sqs.ReceiveMessage_2.json
  tests/test_notify.py
Labels: area/actions, kind/enhancement

#2689 azure - separate web app deploy from service plan deploy
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/c7n_azure/functionapp_utils.py
  tools/c7n_azure/c7n_azure/policy.py
  tools/c7n_azure/c7n_azure/templates/dedicated_functionapp.json
  tools/c7n_azure/c7n_azure/templates/dedicated_functionapp.parameters.json
  tools/c7n_azure/c7n_azure/templates/dedicated_functionapp.test.parameters.json
  tools/c7n_azure/tests/cassettes/FunctionAppUtilsTest.test_deploy_webapp.yaml
  tools/c7n_azure/tests/cassettes/FunctionAppUtilsTest.test_get_application_insights_key_exists.yaml
  tools/c7n_azure/tests/cassettes/FunctionAppUtilsTest.test_get_application_insights_key_not_exists.yaml
  tools/c7n_azure/tests/cassettes/FunctionAppUtilsTest.test_get_storage_connection_string.yaml
  tools/c7n_azure/tests/templates/functionapp-reqs.json
  tools/c7n_azure/tests/test_functionapp_utils.py
  tools/c7n_mailer/c7n_mailer/azure/deploy.py
Labels: cloud/azure

#2709 azure - add option to get email for mailer from resource tag
  tools/c7n_azure/c7n_azure/resources/resourcegroup.py
  tools/c7n_mailer/c7n_mailer/azure/sendgrid_delivery.py
Labels: cloud/azure

#2677 filters/offhours - fix non-titlecase timezone handling in offhours
  c7n/filters/offhours.py
  tests/test_offhours.py
Labels: area/filters, kind/bug

#2736 azure - remove request bodies from being stored in the cassettes.
  tools/c7n_azure/tests/azure_common.py
  tools/c7n_azure/tests/cassettes/FunctionAppUtilsTest.test_deploy_webapp.yaml
  tools/c7n_azure/tests/cassettes/FunctionAppUtilsTest.test_get_application_insights_key_exists.yaml
  tools/c7n_azure/tests/cassettes/FunctionAppUtilsTest.test_get_application_insights_key_not_exists.yaml
  tools/c7n_azure/tests/cassettes/FunctionAppUtilsTest.test_get_storage_connection_string.yaml
Labels: cloud/azure

#2727 azure - replaced Azure SDK create_or_update_by_id with update_by_id
  tools/c7n_azure/c7n_azure/actions.py
Labels: cloud/azure

#2749 fix appserviceplan sample to use correct resource type
  docs/source/azure/policy/resources/appserviceplan.rst
Labels: cloud/azure

#2731 azure - Created scope filters for subscription and resource group levels
  docs/source/azure/policy/resources/accesscontrol.rst
  tools/c7n_azure/c7n_azure/resources/access_control.py
  tools/c7n_azure/tests/test_access_control.py
Labels: cloud/azure

#2759 Added property to ingress and egress filters to filter by access type
  docs/source/azure/policy/resources/nsg.rst
  tools/c7n_azure/c7n_azure/resources/network_security_group.py
  tools/c7n_azure/c7n_azure/utils.py
  tools/c7n_azure/tests/test_azure_utils.py
  tools/c7n_azure/tests/test_networksecuritygroup.py
Labels: cloud/azure

#2758 azure - White list policy filter for Azure KeyVault
  docs/source/azure/policy/resources/keyvault.rst
  tools/c7n_azure/c7n_azure/resources/access_control.py
  tools/c7n_azure/c7n_azure/resources/key_vault.py
  tools/c7n_azure/c7n_azure/utils.py
Labels: cloud/azure

#2767 azure - Implement extended whitelist option
  docs/source/azure/policy/resources/keyvault.rst
  tools/c7n_azure/c7n_azure/resources/key_vault.py
  tools/c7n_azure/tests/test_keyvault.py
Labels: cloud/azure

#2762 Azure Docs fixes
  docs/source/azure/authentication.rst
  docs/source/azure/policy/resources/cdn.rst
  docs/source/azure/policy/resources/containerservice.rst
Labels: cloud/azure

#2770 azure - fix resource type case insensitivity
  tools/c7n_azure/c7n_azure/session.py
Labels: cloud/azure

#2787 azure - change azure-functions docker image pinned tag
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/c7n_azure/templates/dedicated_functionapp.parameters.json
  tools/c7n_azure/c7n_azure/templates/dedicated_functionapp.test.parameters.json
Labels: cloud/azure

#2802 azure - add support for event grid functions
  docs/source/azure/advanced/azurefunctions.rst
  tools/c7n_azure/c7n_azure/azure_events.py
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/c7n_azure/function.py
  tools/c7n_azure/c7n_azure/function_package.py
  tools/c7n_azure/c7n_azure/policy.py
  tools/c7n_azure/c7n_azure/resources/resourcegroup.py
  tools/c7n_azure/tests/test_azure_events.py
  tools/c7n_azure/tests/test_function_package.py
  tools/c7n_azure/tests/test_policy.py
Labels: cloud/azure

#2808 Azure - Correct parameter name is metricnames.
  tools/c7n_azure/c7n_azure/filters.py
  tools/c7n_azure/tests/cassettes/ArmResourceTest.test_metric_filter_find.yaml
  tools/c7n_azure/tests/cassettes/ArmResourceTest.test_metric_filter_find_average.yaml
  tools/c7n_azure/tests/cassettes/ArmResourceTest.test_metric_filter_not_find.yaml
  tools/c7n_azure/tests/cassettes/ArmResourceTest.test_metric_filter_not_find_average.yaml
  tools/c7n_azure/tests/test_armresource.py
Labels: cloud/azure

#2817 azure - increase number of retries when waiting for app service plan to finish
  tools/c7n_azure/c7n_azure/function_package.py
Labels: cloud/azure

#2822 specific_error() should search for the entire resource name, not a substring
  c7n/schema.py
Labels: kind/bug
