Repository cloud-custodian/cloud-custodian, pull requests merged in 2018-04, with the labels that each got.

#2199 Adding a Lambda version, removing filters, and changing condition
  docs/source/usecases/s3denypublicobjectacls.rst
Labels: area/docs

#2201 Adding Usecase for Non-Standard Region Resources
  docs/source/usecases/blocknonstandardregionresources.rst
Labels: area/docs

#2246 Begin Azure Documentation section
  docs/source/azure/authentication.rst
  docs/source/azure/contribute.rst
  docs/source/azure/index.rst
  docs/source/azure/usecases/index.rst
  docs/source/azure/usecases/rgremoveempty.rst
  docs/source/azure/usecases/tagadd.rst
  docs/source/index.rst
Labels: area/docs, cloud/azure

#2259 Makefile - Update install and fix related doc
  Makefile
  docs/source/azure/contribute.rst
Labels: kind/enhancement

#2262 Azure Client - Drop ADAL verbosity
  tools/c7n_azure/c7n_azure/__init__.py
  tools/c7n_azure/setup.py
Labels: cloud/azure

#2269 Azure Tests - Add ARM templates for recording VCR Cassettes
  tools/c7n_azure/tests/azure_common.py
  tools/c7n_azure/tests/cassettes/ResourceGroupTest.test_delete_empty_group.yaml
  tools/c7n_azure/tests/cassettes/SessionTest.test_api_version.yaml
  tools/c7n_azure/tests/cassettes/StorageTest.test_value_filter.yaml
  tools/c7n_azure/tests/cassettes/TagsTest.test_add_or_update_single_tag.yaml
  tools/c7n_azure/tests/cassettes/TagsTest.test_add_or_update_tags.yaml
  tools/c7n_azure/tests/templates/cleanup.sh
  tools/c7n_azure/tests/templates/emptyrg.json
  tools/c7n_azure/tests/templates/provision.sh
  tools/c7n_azure/tests/templates/readme.md
  tools/c7n_azure/tests/templates/storage.json
  tools/c7n_azure/tests/templates/vm.json
  tools/c7n_azure/tests/test_resourcegroup.py
  tools/c7n_azure/tests/test_session.py
  tools/c7n_azure/tests/test_storage.py
  tools/c7n_azure/tests/test_tags.py
Labels: cloud/azure

#2276 azure tests - request matching bug
  tools/c7n_azure/tests/azure_common.py
Labels: cloud/azure

#2278 [redo] azure tests - ignore query string order
  tools/c7n_azure/tests/azure_common.py
Labels: cloud/azure

#2279 update azure_common to use c7n.config to better emulate c7n execution
  tools/c7n_azure/tests/azure_common.py
Labels: cloud/azure

#2275 Added Auto-Tag-User Action for Azure resources
  c7n/tags.py
  tools/c7n_azure/c7n_azure/actions.py
  tools/c7n_azure/c7n_azure/entry.py
  tools/c7n_azure/c7n_azure/query.py
  tools/c7n_azure/tests/cassettes/TagsTest.test_auto_tag_add_creator_tag.yaml
  tools/c7n_azure/tests/cassettes/TagsTest.test_auto_tag_update_false_noop_for_existing_tag.yaml
  tools/c7n_azure/tests/test_tags.py
Labels: cloud/azure

#2258 [Proposal] Azure VM - Instance View Filter
  docs/source/azure/usecases/stoppedvm.rst
  tools/c7n_azure/c7n_azure/resources/vm.py
  tools/c7n_azure/tests/azure_common.py
  tools/c7n_azure/tests/cassettes/VMTest.test_find_by_name.yaml
  tools/c7n_azure/tests/cassettes/VMTest.test_find_running.yaml
  tools/c7n_azure/tests/test_vm.py
Labels: cloud/azure

#2303 Add Azure Auto-Tag-User Action docs
  docs/source/azure/usecases/autotagusers.rst
Labels: cloud/azure, kind/enhancement
