Repository cloud-custodian/cloud-custodian, pull requests merged in 2018-12, with the labels that each got.

#3186 Azure - Add MSI Authentication Support
  docs/source/azure/authentication.rst
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/c7n_azure/session.py
  tools/c7n_azure/tests/test_session.py
Labels: cloud/azure

#3077 gcp managed sql stop & delete action
  tools/c7n_gcp/c7n_gcp/resources/sql.py
  tools/c7n_gcp/tests/data/flights/discovery/get-discovery-v1-apis-sqladmin-v1beta4-rest_1.json.bz2
  tools/c7n_gcp/tests/data/flights/sqlinstance-get/get-sql-v1beta4-projects-cloud-custodian-instances-brenttest-2_1.json
  tools/c7n_gcp/tests/data/flights/sqlinstance-query/get-sql-v1beta4-projects-cloud-custodian-instances_1.json
  tools/c7n_gcp/tests/data/flights/sqlinstance-query/get-sql-v1beta4-projects-custodian-1291-instances_1.json
  tools/c7n_gcp/tests/data/flights/sqlinstance-stop/get-sql-v1beta4-projects-cloud-custodian-instances-custodiansqltest_1.json
  tools/c7n_gcp/tests/data/flights/sqlinstance-stop/get-sql-v1beta4-projects-cloud-custodian-instances_1.json
  tools/c7n_gcp/tests/data/flights/sqlinstance-stop/patch-sql-v1beta4-projects-cloud-custodian-instances-brenttest-5_1.json
  tools/c7n_gcp/tests/data/flights/sqlinstance-stop/patch-sql-v1beta4-projects-cloud-custodian-instances-custodiansqltest_1.json
  tools/c7n_gcp/tests/data/flights/sqlinstance-terminate/delete-sql-v1beta4-projects-cloud-custodian-instances-brenttest-12_1.json
  tools/c7n_gcp/tests/data/flights/sqlinstance-terminate/delete-sql-v1beta4-projects-cloud-custodian-instances-brenttest-5_1.json
  tools/c7n_gcp/tests/data/flights/sqlinstance-terminate/get-sql-v1beta4-projects-cloud-custodian-instances-brenttest-5_1.json
  tools/c7n_gcp/tests/data/flights/sqlinstance-terminate/get-sql-v1beta4-projects-cloud-custodian-instances_1.json
  tools/c7n_gcp/tests/data/flights/sqlinstance-terminate/get-sql-v1beta4-projects-cloud-custodian-instances_2.json
  tools/c7n_gcp/tests/data/flights/sqlinstance-terminate/get-sql-v1beta4-projects-cloud-custodian-instances_3.json
  tools/c7n_gcp/tests/test_sql.py
Labels: cloud/gcp

#3236 azure - add support for service administrator principal for AutoTagUser action
  tools/c7n_azure/c7n_azure/actions.py
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/tests/cassettes/TagsTest.test_auto_tag_user_event_grid_service_admin_event.yaml
  tools/c7n_azure/tests/test_tags.py
Labels: cloud/azure

#3230 aws.sns - add kms related filter for sns and set-encryption action
  c7n/resources/sns.py
  tests/data/placebo/test_sns_kms_related_filter_test/kms.DescribeKey_1.json
  tests/data/placebo/test_sns_kms_related_filter_test/kms.ListAliases_1.json
  tests/data/placebo/test_sns_kms_related_filter_test/kms.ListAliases_2.json
  tests/data/placebo/test_sns_kms_related_filter_test/kms.ListKeys_1.json
  tests/data/placebo/test_sns_kms_related_filter_test/sns.GetTopicAttributes_1.json
  tests/data/placebo/test_sns_kms_related_filter_test/sns.ListTopics_1.json
  tests/data/placebo/test_sns_kms_related_filter_test/tagging.GetResources_1.json
  tests/data/placebo/test_sns_set_encryption/sns.GetTopicAttributes_1.json
  tests/data/placebo/test_sns_set_encryption/sns.GetTopicAttributes_2.json
  tests/data/placebo/test_sns_set_encryption/sns.ListTopics_1.json
  tests/data/placebo/test_sns_set_encryption/sns.SetTopicAttributes_1.json
  tests/data/placebo/test_sns_set_encryption_custom_key/sns.GetTopicAttributes_1.json
  tests/data/placebo/test_sns_set_encryption_custom_key/sns.GetTopicAttributes_2.json
  tests/data/placebo/test_sns_set_encryption_custom_key/sns.ListTopics_1.json
  tests/data/placebo/test_sns_set_encryption_custom_key/sns.SetTopicAttributes_1.json
  tests/data/placebo/test_sns_unset_encryption/sns.GetTopicAttributes_1.json
  tests/data/placebo/test_sns_unset_encryption/sns.GetTopicAttributes_2.json
  tests/data/placebo/test_sns_unset_encryption/sns.ListTopics_1.json
  tests/data/placebo/test_sns_unset_encryption/sns.SetTopicAttributes_1.json
  tests/test_sns.py
Labels: area/actions, area/filters, cloud/aws, kind/enhancement

#3233 aws.fsx - add resource, update, tag, backup actions
  c7n/resources/__init__.py
  c7n/resources/fsx.py
  tests/data/placebo/test_fsx_create_backup/fsx.CreateBackup_1.json
  tests/data/placebo/test_fsx_create_backup/fsx.DescribeBackups_1.json
  tests/data/placebo/test_fsx_create_backup/fsx.DescribeFileSystems_1.json
  tests/data/placebo/test_fsx_create_backup_with_errors/fsx.CreateBackup_1.json
  tests/data/placebo/test_fsx_create_backup_with_errors/fsx.DescribeBackups_1.json
  tests/data/placebo/test_fsx_create_backup_with_errors/fsx.DescribeFileSystems_1.json
  tests/data/placebo/test_fsx_create_backup_without_copy_tags/fsx.CreateBackup_1.json
  tests/data/placebo/test_fsx_create_backup_without_copy_tags/fsx.DescribeBackups_1.json
  tests/data/placebo/test_fsx_create_backup_without_copy_tags/fsx.DescribeFileSystems_1.json
  tests/data/placebo/test_fsx_mark_for_op_resource/fsx.DescribeFileSystems_1.json
  tests/data/placebo/test_fsx_mark_for_op_resource/fsx.ListTagsForResource_1.json
  tests/data/placebo/test_fsx_mark_for_op_resource/fsx.TagResource_1.json
  tests/data/placebo/test_fsx_remove_tag_resource/fsx.DescribeFileSystems_1.json
  tests/data/placebo/test_fsx_remove_tag_resource/fsx.ListTagsForResource_1.json
  tests/data/placebo/test_fsx_remove_tag_resource/fsx.UntagResource_1.json
  tests/data/placebo/test_fsx_resource/fsx.DescribeFileSystems_1.json
  tests/data/placebo/test_fsx_tag_resource/fsx.DescribeFileSystems_1.json
  tests/data/placebo/test_fsx_tag_resource/fsx.ListTagsForResource_1.json
  tests/data/placebo/test_fsx_tag_resource/fsx.TagResource_1.json
  tests/data/placebo/test_fsx_update_configuration/fsx.DescribeFileSystems_1.json
  tests/data/placebo/test_fsx_update_configuration/fsx.DescribeFileSystems_2.json
  tests/data/placebo/test_fsx_update_configuration/fsx.UpdateFileSystem_1.json
  tests/test_fsx.py
Labels: area/actions, cloud/aws, kind/enhancement

#3242 aws.vpce - add cross-account filter for vpce
  c7n/resources/vpc.py
  tests/data/placebo/test_vpce_cross_account/ec2.DescribeVpcEndpoints_1.json
  tests/test_vpc.py
Labels: area/filters, cloud/aws, kind/enhancement

#3243 aws.fsx-backup - add fsx backups resource, tag/remove-tag/delete actions
  c7n/resources/fsx.py
  tests/data/placebo/test_fsx_backup_delete/fsx.DeleteBackup_1.json
  tests/data/placebo/test_fsx_backup_delete/fsx.DescribeBackups_1.json
  tests/data/placebo/test_fsx_backup_delete/fsx.DescribeBackups_2.json
  tests/data/placebo/test_fsx_backup_mark_for_op/fsx.DescribeBackups_1.json
  tests/data/placebo/test_fsx_backup_mark_for_op/fsx.DescribeBackups_2.json
  tests/data/placebo/test_fsx_backup_mark_for_op/fsx.TagResource_1.json
  tests/data/placebo/test_fsx_backup_remove_tag/fsx.DescribeBackups_1.json
  tests/data/placebo/test_fsx_backup_remove_tag/fsx.DescribeBackups_2.json
  tests/data/placebo/test_fsx_backup_remove_tag/fsx.UntagResource_1.json
  tests/data/placebo/test_fsx_backup_tag/fsx.DescribeBackups_1.json
  tests/data/placebo/test_fsx_backup_tag/fsx.DescribeBackups_2.json
  tests/data/placebo/test_fsx_backup_tag/fsx.TagResource_1.json
  tests/test_fsx.py
Labels: area/actions, cloud/aws, kind/enhancement

#3121 Api Gateway resource functionality enhancements
  c7n/resources/apigw.py
  tests/data/placebo/test_rest_integration_delete/apigateway.DeleteIntegration_1.json
  tests/data/placebo/test_rest_integration_delete/apigateway.GetIntegration_1.json
  tests/data/placebo/test_rest_integration_delete/apigateway.GetIntegration_2.json
  tests/data/placebo/test_rest_integration_delete/apigateway.GetResources_1.json
  tests/data/placebo/test_rest_integration_delete/apigateway.GetRestApis_1.json
  tests/data/placebo/test_rest_integration_filter/apigateway.GetIntegration_1.json
  tests/data/placebo/test_rest_integration_filter/apigateway.GetResources_1.json
  tests/data/placebo/test_rest_integration_filter/apigateway.GetRestApis_1.json
  tests/data/placebo/test_rest_integration_update/apigateway.GetIntegration_1.json
  tests/data/placebo/test_rest_integration_update/apigateway.GetMethod_1.json
  tests/data/placebo/test_rest_integration_update/apigateway.GetResources_1.json
  tests/data/placebo/test_rest_integration_update/apigateway.GetRestApis_1.json
  tests/data/placebo/test_rest_integration_update/apigateway.UpdateIntegration_1.json
  tests/test_apigw.py
Labels: cloud/aws, kind/enhancement

#3265 azure - add support for groups and unknown principals in auto-tag-user action
  tools/c7n_azure/c7n_azure/actions.py
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/tests/cassettes/TagsTest.test_auto_tag_user_event_grid_group_event.yaml
  tools/c7n_azure/tests/cassettes/TagsTest.test_auto_tag_user_event_grid_unknown_principal_event.yaml
  tools/c7n_azure/tests/test_tags.py
Labels: cloud/azure
