Repository cloud-custodian/cloud-custodian, pull requests merged in 2018-11, with the labels that each got.

#3088 azure - dequeue count is a property not a function
  tools/c7n_azure/c7n_azure/function.py
  tools/c7n_azure/requirements.txt
  tools/c7n_azure/tests/test_function.py
Labels: cloud/azure, kind/bug

#3096 Fix policy name variable expansion (rename to policy_name)
  c7n/output.py
  docs/source/azure/advanced/bloboutput.rst
  tools/c7n_azure/c7n_azure/output.py
  tools/c7n_azure/tests/test_output.py
Labels: kind/bug

#3093 azure - add event support for auto-tag-user
  docs/source/azure/examples/autotagusers.rst
  tools/c7n_azure/c7n_azure/actions.py
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/c7n_azure/policy.py
  tools/c7n_azure/tests/cassettes/TagsTest.test_auto_tag_user_event_grid_mode_with_days_fails_validation.yaml
  tools/c7n_azure/tests/cassettes/TagsTest.test_auto_tag_user_event_grid_sp_event.yaml
  tools/c7n_azure/tests/cassettes/TagsTest.test_auto_tag_user_event_grid_sp_event_missing_info.yaml
  tools/c7n_azure/tests/cassettes/TagsTest.test_auto_tag_user_event_grid_unsupported_principal_type.yaml
  tools/c7n_azure/tests/cassettes/TagsTest.test_auto_tag_user_event_grid_user_event.yaml
  tools/c7n_azure/tests/cassettes/TagsTest.test_auto_tag_user_event_grid_user_event_missing_info.yaml
  tools/c7n_azure/tests/test_tags.py
Labels: cloud/azure

#3067 azure - add parallel execution to azure action base class
  tools/c7n_azure/c7n_azure/actions.py
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/c7n_azure/resources/access_control.py
  tools/c7n_azure/c7n_azure/resources/event_subscription.py
  tools/c7n_azure/c7n_azure/resources/vm.py
  tools/c7n_azure/c7n_azure/utils.py
  tools/c7n_azure/tests/azure_common.py
Labels: cloud/azure

#3097 azure mailer - fix tag bug
  tools/c7n_mailer/c7n_mailer/utils_email.py
  tools/c7n_mailer/tests/common.py
  tools/c7n_mailer/tests/test_azure.py
Labels: area/tools-mailer, cloud/azure

#3120 azure - kill polling in tests
  tools/c7n_azure/tests/azure_common.py
Labels: cloud/azure

#3084 azure - enable Azure Functions mode for any OS & Python 3.6, 3.7
  .gitignore
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/c7n_azure/dependency_manager.py
  tools/c7n_azure/c7n_azure/function_package.py
  tools/c7n_azure/c7n_azure/policy.py
  tools/c7n_azure/c7n_azure/resources/__init__.py
  tools/c7n_azure/c7n_azure/session.py
  tools/c7n_azure/setup.py
  tools/c7n_mailer/c7n_mailer/azure/deploy.py
  tools/c7n_mailer/tests/test_azure.py
  tox.ini
Labels: cloud/azure

#3130 azure - resize app service plan action and refactor off hours
  docs/source/azure/examples/resizeappplan.rst
  docs/source/azure/policy/resources/appserviceplan.rst
  tools/c7n_azure/c7n_azure/filters.py
  tools/c7n_azure/c7n_azure/resources/appserviceplan.py
  tools/c7n_azure/c7n_azure/resources/arm.py
  tools/c7n_azure/c7n_azure/resources/vm.py
  tools/c7n_azure/tests/cassettes/AppServicePlanTest.test_find_by_name.yaml
  tools/c7n_azure/tests/cassettes/AppServicePlanTest.test_on_off_hours.yaml
  tools/c7n_azure/tests/cassettes/AppServicePlanTest.test_resize_plan.yaml
  tools/c7n_azure/tests/test_app_service_plan.py
Labels: cloud/azure

#3141 Azure - include basic sku in validation
  tools/c7n_azure/c7n_azure/resources/appserviceplan.py
Labels: cloud/azure

#3182 azure - add event advance filtering for event grid subscription
  tools/c7n_azure/c7n_azure/azure_events.py
  tools/c7n_azure/c7n_azure/policy.py
  tools/c7n_azure/tests/test_policy.py
Labels: cloud/azure

#3193 azure - use StorageAccount model in test_policy.py
  tools/c7n_azure/tests/test_policy.py
Labels: cloud/azure
