Repository cloud-custodian/cloud-custodian, pull requests merged in 2019-08, with the labels that each got.

#4171 gcp - kms initial setup with nested resources and docs
  docs/source/gcp/contribute.rst
  docs/source/gcp/examples/kms-cryptokey.rst
  tools/c7n_gcp/c7n_gcp/entry.py
  tools/c7n_gcp/c7n_gcp/query.py
  tools/c7n_gcp/c7n_gcp/resources/kms.py
  tools/c7n_gcp/tests/data/events/kms-cryptokey-create.json
  tools/c7n_gcp/tests/data/events/kms-cryptokey-version-create.json
  tools/c7n_gcp/tests/data/events/kms-keyring-create.json
  tools/c7n_gcp/tests/data/flights/discovery/get-discovery-v1-apis-cloudkms-v1-rest_1.json.bz2
  tools/c7n_gcp/tests/data/flights/kms-cryptokey-get/get-v1-projects-cloud-custodian-locations-us-central1-keyRings-cloud-custodian-cryptoKeys-cloud-custodian_1.json
  tools/c7n_gcp/tests/data/flights/kms-cryptokey-get/get-v1-projects-cloud-custodian-locations-us-central1-keyRings-cloud-custodian_1.json
  tools/c7n_gcp/tests/data/flights/kms-cryptokey-get/get-v1-projects-cloud-custodian-locations-us-central1_1.json
  tools/c7n_gcp/tests/data/flights/kms-cryptokey-query/get-v1-projects-cloud-custodian-locations-us-central1-keyRings-cloud-custodian-cryptoKeys_1.json
  tools/c7n_gcp/tests/data/flights/kms-cryptokey-query/get-v1-projects-cloud-custodian-locations-us-central1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-cryptokey-query/get-v1-projects-cloud-custodian-locations-us-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-cryptokey-query/get-v1-projects-cloud-custodian-locations_1.json
  tools/c7n_gcp/tests/data/flights/kms-cryptokey-version-get/get-v1-projects-cloud-custodian-locations-us-central1-keyRings-cloud-custodian-cryptoKeys-cloud-custodian-cryptoKeyVersions-1_1.json
  tools/c7n_gcp/tests/data/flights/kms-cryptokey-version-get/get-v1-projects-cloud-custodian-locations-us-central1-keyRings-cloud-custodian-cryptoKeys-cloud-custodian_1.json
  tools/c7n_gcp/tests/data/flights/kms-cryptokey-version-get/get-v1-projects-cloud-custodian-locations-us-central1-keyRings-cloud-custodian_1.json
  tools/c7n_gcp/tests/data/flights/kms-cryptokey-version-get/get-v1-projects-cloud-custodian-locations-us-central1_1.json
  tools/c7n_gcp/tests/data/flights/kms-cryptokey-version-query/get-v1-projects-cloud-custodian-locations-us-central1-keyRings-cloud-custodian-cryptoKeys-cloud-custodian-cryptoKeyVersions_1.json
  tools/c7n_gcp/tests/data/flights/kms-cryptokey-version-query/get-v1-projects-cloud-custodian-locations-us-central1-keyRings-cloud-custodian-cryptoKeys_1.json
  tools/c7n_gcp/tests/data/flights/kms-cryptokey-version-query/get-v1-projects-cloud-custodian-locations-us-central1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-cryptokey-version-query/get-v1-projects-cloud-custodian-locations_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-get/get-v1-projects-cloud-custodian-locations-us-central1-keyRings-cloud-custodian_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-get/get-v1-projects-cloud-custodian-locations-us-central1_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-array/get-v1-projects-cloud-custodian-locations-asia-east1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-array/get-v1-projects-cloud-custodian-locations-us-central1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-asia-east1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-asia-east2-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-asia-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-asia-northeast1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-asia-northeast2-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-asia-south1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-asia-southeast1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-australia-southeast1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-eur4-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-europe-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-europe-north1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-europe-west1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-europe-west2-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-europe-west3-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-europe-west4-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-europe-west6-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-global-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-nam4-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-northamerica-northeast1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-southamerica-east1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-us-central1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-us-east1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-us-east4-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-us-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-us-west1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query-unspecified_location/get-v1-projects-cloud-custodian-locations-us-west2-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-query/get-v1-projects-cloud-custodian-locations-us-central1-keyRings_1.json
  tools/c7n_gcp/tests/test_kms.py
  tools/c7n_gcp/tests/test_query.py
Labels: cloud/gcp

#4469 Cask - Bug fixes
  tools/cask/go.mod
  tools/cask/go.sum
  tools/cask/main.go
  tools/cask/main_test.go
Labels: area/cask

#4516 cask - windows install bugs
  tools/cask/scripts/install.ps1
Labels: area/cask

#4533 azure - add support for aci container groups
  tools/c7n_azure/c7n_azure/entry.py
  tools/c7n_azure/c7n_azure/resources/aci.py
  tools/c7n_azure/setup.py
  tools/c7n_azure/tests/cassettes/ContainerGroupTest.list.json
  tools/c7n_azure/tests/templates/aci.json
  tools/c7n_azure/tests/test_aci.py
Labels: cloud/azure

#4536 azure - remove manually generated supported resources doc section
  docs/source/azure/examples/networksecuritygroups-networking.rst
  docs/source/azure/policy/genericarmaction.rst
  docs/source/azure/policy/genericarmfilter.rst
  docs/source/azure/policy/index.rst
  docs/source/azure/policy/resources/accesscontrol.rst
  docs/source/azure/policy/resources/aks.rst
  docs/source/azure/policy/resources/apimanagement.rst
  docs/source/azure/policy/resources/appserviceplan.rst
  docs/source/azure/policy/resources/arm.rst
  docs/source/azure/policy/resources/batch.rst
  docs/source/azure/policy/resources/cdn.rst
  docs/source/azure/policy/resources/cognitiveservices.rst
  docs/source/azure/policy/resources/containerregistry.rst
  docs/source/azure/policy/resources/containerservice.rst
  docs/source/azure/policy/resources/cosmosdb.rst
  docs/source/azure/policy/resources/datafactory.rst
  docs/source/azure/policy/resources/datalake.rst
  docs/source/azure/policy/resources/disk.rst
  docs/source/azure/policy/resources/iothub.rst
  docs/source/azure/policy/resources/keyvault.rst
  docs/source/azure/policy/resources/keyvaultkeys.rst
  docs/source/azure/policy/resources/loadbalancer.rst
  docs/source/azure/policy/resources/networkinterface.rst
  docs/source/azure/policy/resources/nsg.rst
  docs/source/azure/policy/resources/policyassignments.rst
  docs/source/azure/policy/resources/publicip.rst
  docs/source/azure/policy/resources/redis.rst
  docs/source/azure/policy/resources/resourcegroup.rst
  docs/source/azure/policy/resources/routetable.rst
  docs/source/azure/policy/resources/sqldatabase.rst
  docs/source/azure/policy/resources/sqlserver.rst
  docs/source/azure/policy/resources/storage.rst
  docs/source/azure/policy/resources/subscription.rst
  docs/source/azure/policy/resources/vm.rst
  docs/source/azure/policy/resources/vmss.rst
  docs/source/azure/policy/resources/vnet.rst
  docs/source/azure/policy/resources/webapp.rst
  docs/source/index.rst
  tools/c7n_azure/c7n_azure/filters.py
  tools/c7n_azure/c7n_azure/resources/access_control.py
  tools/c7n_azure/c7n_azure/resources/appserviceplan.py
  tools/c7n_azure/c7n_azure/resources/arm.py
  tools/c7n_azure/c7n_azure/resources/cosmos_db.py
  tools/c7n_azure/c7n_azure/resources/disk.py
  tools/c7n_azure/c7n_azure/resources/generic_arm_resource.py
  tools/c7n_azure/c7n_azure/resources/key_vault.py
  tools/c7n_azure/c7n_azure/resources/load_balancer.py
  tools/c7n_azure/c7n_azure/resources/network_interface.py
  tools/c7n_azure/c7n_azure/resources/public_ip.py
  tools/c7n_azure/c7n_azure/resources/redis.py
  tools/c7n_azure/c7n_azure/resources/resourcegroup.py
  tools/c7n_azure/c7n_azure/resources/sqlserver.py
  tools/c7n_azure/c7n_azure/resources/storage.py
Labels: area/docs, cloud/azure

#4534 Azure - add event hub resource
  tools/c7n_azure/c7n_azure/entry.py
  tools/c7n_azure/c7n_azure/resources/event_hub.py
  tools/c7n_azure/setup.py
  tools/c7n_azure/tests/cassettes/EventHubTest.test_find_by_name.json
  tools/c7n_azure/tests/templates/eventhub.json
  tools/c7n_azure/tests/test_event_hub.py
Labels: cloud/azure

#4546 azure - fix PATCH updates for tags
  tools/c7n_azure/c7n_azure/resources/appserviceplan.py
  tools/c7n_azure/c7n_azure/resources/sqldatabase.py
  tools/c7n_azure/c7n_azure/tags.py
  tools/c7n_azure/tests/templates/cleanup.sh
  tools/c7n_azure/tests/templates/provision.sh
  tools/c7n_azure/tests/test_tags.py
Labels: cloud/azure

#4567 azure - storage firewall action and service tag lookups
  tools/c7n_azure/c7n_azure/filters.py
  tools/c7n_azure/c7n_azure/resources/storage.py
  tools/c7n_azure/c7n_azure/session.py
  tools/c7n_azure/c7n_azure/utils.py
  tools/c7n_azure/setup.py
  tools/c7n_azure/tests/azure_common.py
  tools/c7n_azure/tests/cassettes/IpRangeHelperTest.servicetags.json
  tools/c7n_azure/tests/cassettes/TestFirewallActions.test_build_ip_rules_alias.json
  tools/c7n_azure/tests/cassettes/UtilsTest.test_get_service_tag_ip_space.json
  tools/c7n_azure/tests/test_azure_utils.py
  tools/c7n_azure/tests/test_firewall_actions.py
  tools/c7n_azure/tests/test_firewall_rules_filter.py
  tools/c7n_azure/tests/test_storage_firewall_actions.py
  tools/c7n_azure/tests/test_utils_ip_range_helper.py
Labels: cloud/azure

#4598 azure - require SP credentials for Azure Functions mode
  tools/c7n_azure/c7n_azure/session.py
Labels: cloud/azure

#4584 Azure - Add handling of Linux and Consumption App Service Plans
  tools/c7n_azure/c7n_azure/resources/appserviceplan.py
  tools/c7n_azure/tests/cassettes/AppServicePlanTest.test_find_by_name.json
  tools/c7n_azure/tests/cassettes/AppServicePlanTest.test_on_off_hours.json
  tools/c7n_azure/tests/cassettes/AppServicePlanTest.test_resize_consumption_linux.json
  tools/c7n_azure/tests/cassettes/AppServicePlanTest.test_resize_consumption_win.json
  tools/c7n_azure/tests/cassettes/AppServicePlanTest.test_resize_plan.json
  tools/c7n_azure/tests/cassettes/AppServicePlanTest.test_resize_plan_linux.json
  tools/c7n_azure/tests/cassettes/AppServicePlanTest.test_resize_plan_win.json
  tools/c7n_azure/tests/templates/appserviceplan-linux.json
  tools/c7n_azure/tests/templates/cleanup.sh
  tools/c7n_azure/tests/templates/provision.sh
  tools/c7n_azure/tests/test_app_service_plan.py
Labels: cloud/azure

#4599 Azure - doc - storage public access
  docs/source/azure/examples/storageblockpublicaccess-networking-storage.rst
Labels: area/docs, cloud/azure

#4588 azure - support tag, resize from resource
  tools/c7n_azure/c7n_azure/actions/tagging.py
  tools/c7n_azure/c7n_azure/lookup.py
  tools/c7n_azure/c7n_azure/resources/appserviceplan.py
  tools/c7n_azure/c7n_azure/tags.py
  tools/c7n_azure/tests/cassettes/AppServicePlanTest.test_resize_plan_from_resource_tag.json
  tools/c7n_azure/tests/test_app_service_plan.py
  tools/c7n_azure/tests/test_lookup.py
  tools/c7n_azure/tests/test_tags.py
Labels: cloud/azure

#4610 azure - restructure and organize examples
  docs/source/azure/examples/appserviceplansresize-compute.rst
  docs/source/azure/examples/emailnotify-notifications.rst
  docs/source/azure/examples/firewall-rulesfiltering-networking.rst
  docs/source/azure/examples/index.rst
  docs/source/azure/examples/loadbalancerfilterbyfrotendip-networking.rst
  docs/source/azure/examples/metrics-general.rst
  docs/source/azure/examples/resourcegroupsdelayedoperation-general.rst
  docs/source/azure/examples/resourcegroupsorphanresources-general-compute-networking.rst
  docs/source/azure/examples/resourcegroupsremoveempty-general.rst
  docs/source/azure/examples/routetablewithsubnet-networking.rst
  docs/source/azure/examples/sqldatabasebackupretention-databases.rst
  docs/source/azure/examples/sqldatabasewithpremiumsku-databases.rst
  docs/source/azure/examples/storageaddfirewallrulestostorage-databases-networking.rst
  docs/source/azure/examples/storageblockpublicaccess-networking-databases.rst
  docs/source/azure/examples/tagadd-general-compute.rst
  docs/source/azure/examples/tagautotagusers-general-identity.rst
  docs/source/azure/examples/tagremove-general-compute.rst
  docs/source/azure/examples/tagtrim-general-compute.rst
  docs/source/azure/examples/virtualmachinesstoppedvm-compute.rst
  docs/source/azure/examples/virtualmachineswithpublicip-compute-networking.rst
Labels: cloud/azure

#4609 Azure - Update lookup schema and allow tag value to be lookup type
  tools/c7n_azure/c7n_azure/actions/tagging.py
  tools/c7n_azure/c7n_azure/lookup.py
  tools/c7n_azure/c7n_azure/tags.py
  tools/c7n_azure/tests/test_actions_tag.py
  tools/c7n_azure/tests/test_lookup.py
  tools/c7n_azure/tests/test_tags.py
Labels: cloud/azure

#4616 azure - fixed azure sql example
  docs/source/azure/examples/metrics-general.rst
Labels: cloud/azure

#4611 azure - parent filter for child resources & bugfix
  tools/c7n_azure/c7n_azure/filters.py
  tools/c7n_azure/c7n_azure/provider.py
  tools/c7n_azure/c7n_azure/query.py
  tools/c7n_azure/tests/cassettes/ParentFilterFunctionalTest.keyvault-keys.json
  tools/c7n_azure/tests/test_filters_parent.py
  tools/c7n_azure/tests/test_functional_filters_parent.py
Labels: cloud/azure

#4604 Azure - K8s tooling
  docs/source/azure/configuration/containerhosting.rst
  docs/source/azure/configuration/functionshosting.rst
  docs/source/azure/configuration/index.rst
  tools/c7n_azure/c7n_azure/container_host/host.py
  tools/c7n_azure/tests/test_container_host.py
  tools/ops/azure/container-host/chart/.helmignore
  tools/ops/azure/container-host/chart/Chart.yaml
  tools/ops/azure/container-host/chart/deploy_chart.py
  tools/ops/azure/container-host/chart/templates/_helpers.tpl
  tools/ops/azure/container-host/chart/templates/deployments.yaml
  tools/ops/azure/container-host/chart/values.yaml
Labels: cloud/azure

#4620 azure - docs - teams notification example
  docs/source/azure/examples/teamsnewresourcegroup-general-notifications.rst
Labels: area/docs, cloud/azure

#4607 azure - docs - Hosting Options
  docs/source/azure/configuration/functionshosting.rst
Labels: area/docs, cloud/azure

#4635 azure - update logic app notification example docs
  docs/source/azure/examples/logicappnotifications/logicappnotification.rst
Labels: area/docs, cloud/azure

#4632 Azure - ACI Tooling
  docs/source/azure/configuration/containerhosting.rst
  tools/ops/azure/container-host/aci/aci-template.json
Labels: cloud/azure

#4627 azure - cosmosdb firewall action
  docs/source/azure/examples/firewall-cosmosaction-networking.rst
  docs/source/azure/examples/firewall-rulesfiltering-networking.rst
  tools/c7n_azure/c7n_azure/actions/base.py
  tools/c7n_azure/c7n_azure/actions/firewall.py
  tools/c7n_azure/c7n_azure/resources/cosmos_db.py
  tools/c7n_azure/c7n_azure/resources/storage.py
  tools/c7n_azure/tests/cassettes/CosmosDBFirewallActionTest.firewall_action.json
  tools/c7n_azure/tests/templates/cosmosdb.json
  tools/c7n_azure/tests/test_cosmos_db.py
  tools/c7n_azure/tests/test_firewall_actions.py
Labels: cloud/azure

#4646 azure - update Lookup Schema to use type
  tools/c7n_azure/c7n_azure/lookup.py
  tools/c7n_azure/c7n_azure/resources/appserviceplan.py
  tools/c7n_azure/tests/test_actions_tag.py
  tools/c7n_azure/tests/test_app_service_plan.py
  tools/c7n_azure/tests/test_lookup.py
Labels: cloud/azure

#4645 azure - fix op for regeneration-period filter
  tools/c7n_azure/c7n_azure/resources/key_vault_storage.py
Labels: cloud/azure

#4602 mailer - KeyVault integration for Azure
  tools/c7n_mailer/README.md
  tools/c7n_mailer/c7n_mailer/azure_mailer/azure_queue_processor.py
  tools/c7n_mailer/c7n_mailer/azure_mailer/sendgrid_delivery.py
  tools/c7n_mailer/c7n_mailer/azure_mailer/utils.py
  tools/c7n_mailer/c7n_mailer/cli.py
  tools/c7n_mailer/c7n_mailer/utils.py
  tools/c7n_mailer/tests/test_azure.py
  tools/c7n_mailer/tests/test_azure_mailer_utils.py
  tools/c7n_mailer/tests/test_schema.py
  tools/c7n_mailer/tests/test_utils.py
Labels: area/tools-mailer, cloud/azure

#4652 azure - update cosmosdb tests
  tools/c7n_azure/tests/test_cosmos_db.py
Labels: cloud/azure

#4648 docs - reiterate tox config
  docs/source/developer/tests.rst
Labels: area/docs

#4637 azure - doc - function options fixed formatting
  docs/source/azure/configuration/functionshosting.rst
Labels: area/docs, cloud/azure

#4649 gcp/azure - resource limits
  tools/c7n_azure/c7n_azure/query.py
  tools/c7n_azure/tests/cassettes/QueryResourceManagerTest.resource_limits.json
  tools/c7n_azure/tests/test_azure_query.py
  tools/c7n_gcp/c7n_gcp/query.py
  tools/c7n_gcp/tests/test_resourcemanager.py
Labels: cloud/azure, cloud/gcp

#4704 azure - remove timeout in azure tests pipeline
  .azure-pipelines/azure-nightly-tests.yml
Labels: cloud/azure

#4707 azure - live tests pipeline fixes
  .azure-pipelines/azure-nightly-tests.yml
Labels: cloud/azure

#4715 azure - Nightly pipeline pass secrets to tasks + fix AppServicePlan resource_type
  .azure-pipelines/azure-nightly-tests.yml
  tools/c7n_azure/c7n_azure/resources/appserviceplan.py
  tools/c7n_azure/c7n_azure/resources/web_app.py
Labels: cloud/azure
