Repository cloud-custodian/cloud-custodian, pull requests merged in 2019-02, with the labels that each got.

#3466 Azure - Resolves #3457 windows permission denied
  c7n/mu.py
  tools/c7n_azure/c7n_azure/function_package.py
  tools/c7n_azure/c7n_azure/functionapp_utils.py
  tools/c7n_azure/tests/test_functionapp_utils.py
Labels: cloud/azure

#3517 tools/mailer - add cc recipients in email header
  .gitignore
  tools/c7n_mailer/c7n_mailer/email_delivery.py
  tools/c7n_mailer/tests/common.py
  tools/c7n_mailer/tests/test_email.py
Labels: area/tools-mailer

#3538 gcp - notify action
  tools/c7n_gcp/c7n_gcp/actions/__init__.py
  tools/c7n_gcp/c7n_gcp/actions/notify.py
  tools/c7n_gcp/tests/data/flights/discovery/get-discovery-v1-apis-topic-v1-rest_1.json.bz2
  tools/c7n_gcp/tests/data/flights/notify-action/delete-v1-projects-cloud-custodian-topics-gcptestnotifytopic_1.json
  tools/c7n_gcp/tests/data/flights/notify-action/get-v1-projects-cloud-custodian-topics-gcptestnotifytopic_1.json
  tools/c7n_gcp/tests/data/flights/notify-action/get-v1-projects-cloud-custodian-topics-gcptestnotifytopic_2.json
  tools/c7n_gcp/tests/data/flights/notify-action/get-v1-projects-cloud-custodian-topics_1.json
  tools/c7n_gcp/tests/data/flights/notify-action/get-v1-projects-custodian-1291-topics_1.json
  tools/c7n_gcp/tests/data/flights/notify-action/post-v1-projects-cloud-custodian-topics-gcptestnotifytopic-publish_1.json
  tools/c7n_gcp/tests/data/flights/notify-action/put-v1-projects-cloud-custodian-topics-gcptestnotifytopic_1.json
  tools/c7n_gcp/tests/test_notify_gcp.py
Labels: cloud/gcp, kind/enhancement
