Repository cloud-custodian/cloud-custodian, pull requests merged in 2019-10, with the labels that each got.

#4889 azure - update azure.mgmt.web tests
  tools/c7n_azure/tests_azure/test_function_package.py
  tools/c7n_azure/tests_azure/tests_resources/test_app_service_plan.py
Labels: area/test-infra, cloud/azure

#4888 azure - fix metrics dimension
  tools/c7n_azure/c7n_azure/output.py
  tools/c7n_azure/tests_azure/test_output.py
Labels: cloud/azure

#4904 azure - Update nightly tests paths
  .azure-pipelines/azure-nightly-tests.yml
  tools/c7n_azure/tests_azure/templates/provision.sh
Labels: cloud/azure, kind/bug

#4909 azure - use bash to run nightly tests & use LKG commit for sphinx_rtd_theme
  .azure-pipelines/azure-nightly-tests.yml
  tools/c7n_sphinxext/requirements.txt
Labels: cloud/azure

#4914 azure - fix test regressions
  tools/c7n_azure/tests_azure/azure_common.py
  tools/c7n_azure/tests_azure/test_actions_autotag-user.py
  tools/c7n_azure/tests_azure/test_actions_mark-for-op.py
  tools/c7n_azure/tests_azure/test_functional_actions_tags.py
  tools/c7n_azure/tests_azure/test_functional_filters_cost.py
  tools/c7n_azure/tests_azure/test_output.py
  tools/c7n_azure/tests_azure/tests_resources/test_storage_container.py
Labels: cloud/azure

#4883 azure - doc updates
  docs/source/azure/advanced/multiplesubs.rst
  docs/source/azure/configuration/authentication.rst
  docs/source/azure/configuration/functionshosting.rst
  docs/source/azure/configuration/helmtutorial.rst
  docs/source/azure/configuration/monitoring.rst
  docs/source/azure/examples/tagautotagusers-general-identity.rst
  docs/source/azure/gettingstarted.rst
Labels: area/docs, cloud/azure

#4923 Azure - Validate event grid events against policy resource
  tools/c7n_azure/c7n_azure/policy.py
  tools/c7n_azure/tests_azure/test_function_package.py
  tools/c7n_azure/tests_azure/test_policy_mode.py
Labels: cloud/azure

#4928 azure - update AppServicePlan & Subscription tests
  tools/c7n_azure/tests_azure/azure_common.py
  tools/c7n_azure/tests_azure/cassettes/SubscriptionTest.test_add_policy.json
  tools/c7n_azure/tests_azure/templates/appserviceplan-linux.json
  tools/c7n_azure/tests_azure/tests_resources/test_app_service_plan.py
  tools/c7n_azure/tests_azure/tests_resources/test_subscription.py
Labels: cloud/azure

#4917 azure - docs - added documentation on using resource tags for sending mail
  tools/c7n_mailer/README.md
Labels: area/docs, cloud/azure

#4924 azure - add azure resource graph as a query provider
  c7n/schema.py
  tools/c7n_azure/c7n_azure/query.py
  tools/c7n_azure/setup.py
  tools/c7n_azure/tests_azure/cassettes/ResourceGraphSource.test_resource_graph_and_arm_sources_storage_are_equivalent.json
  tools/c7n_azure/tests_azure/cassettes/ResourceGraphSource.test_resource_graph_and_arm_sources_vm_are_equivalent.json
  tools/c7n_azure/tests_azure/test_resource_graph_source.py
Labels: cloud/azure

#4935 azure - validate event resource is ARM resource
  tools/c7n_azure/c7n_azure/azure_events.py
  tools/c7n_azure/c7n_azure/policy.py
  tools/c7n_azure/tests_azure/test_policy_mode.py
Labels: cloud/azure

#4960 azure - nightly test merge fix
  .azure-pipelines/live-functional.yml
Labels: cloud/azure

#4654 Expect plaintext response from Slack Webhook API
  tools/c7n_mailer/c7n_mailer/slack_delivery.py
Labels: area/tools-mailer
