Repository cloud-custodian/cloud-custodian, pull requests merged in 2019-04, with the labels that each got.

#3743 Resolve 3712: max-resource and max-resource-policy
  c7n/query.py
  c7n/schema.py
  docs/source/quickstart/advanced.rst
  tests/test_policy.py
Labels: status/awaiting-response

#3802 Azure - add v1 of effective route table filter
  docs/source/azure/policy/resources/networkinterface.rst
  tools/c7n_azure/c7n_azure/resources/network_interface.py
  tools/c7n_azure/tests/cassettes/NetworkInterfaceTest.test_find_by_default_routes.yaml
  tools/c7n_azure/tests/test_network_interface.py
Labels: cloud/azure

#3736 gcp - add support for nested resources
  tools/c7n_gcp/c7n_gcp/query.py
  tools/c7n_gcp/c7n_gcp/resources/sql.py
  tools/c7n_gcp/tests/data/flights/sqldatabase-get/get-sql-v1beta4-projects-mitropject-instances-testpg-databases-postgres_1.json
  tools/c7n_gcp/tests/data/flights/sqldatabase-get/get-sql-v1beta4-projects-mitropject-instances-testpg_1.json
  tools/c7n_gcp/tests/data/flights/sqldatabase-query/get-sql-v1beta4-projects-mitropject-instances-testpg-databases_1.json
  tools/c7n_gcp/tests/data/flights/sqldatabase-query/get-sql-v1beta4-projects-mitropject-instances_1.json
  tools/c7n_gcp/tests/test_sql.py
Labels: status/2-code-review

#3865 Azure - Improvements to Getting Started Doc
  docs/source/azure/gettingstarted.rst
Labels: cloud/azure

#3872 Azure - doc fix formatting
  docs/source/azure/gettingstarted.rst
Labels: cloud/azure

#3342 AZURE - Fixing second example to tag VM instead of resource group as indicated by the description
  docs/source/azure/examples/autotagusers.rst
Labels: area/docs, cloud/azure
