Repository cloud-custodian/cloud-custodian, pull requests merged in 2019-09, with the labels that each got.

#4711 Azure - Add mailer support to the Container Host helm chart
  docs/source/azure/configuration/containerhosting.rst
  tools/c7n_azure/setup.py
  tools/c7n_mailer/README.md
  tools/c7n_mailer/c7n_mailer/azure_mailer/sendgrid_delivery.py
  tools/c7n_mailer/tests/common.py
  tools/c7n_mailer/tests/test-templates/default.j2
  tools/c7n_mailer/tests/test_azure.py
  tools/ops/azure/container-host/chart/deploy_chart.py
  tools/ops/azure/container-host/chart/templates/mailer.yaml
  tools/ops/azure/container-host/chart/values.yaml
Labels: cloud/azure

#4696 azure - improved handling of authentication error
  tools/c7n_azure/c7n_azure/query.py
  tools/c7n_azure/c7n_azure/session.py
  tools/c7n_azure/tests/test_azure_query.py
  tools/c7n_azure/tests/test_session.py
Labels: cloud/azure

#4718 cask - linux install should overwrite previous binary
  tools/cask/readme.md
Labels: area/cask

#4710 azure - add storage container support
  tools/c7n_azure/c7n_azure/entry.py
  tools/c7n_azure/c7n_azure/query.py
  tools/c7n_azure/c7n_azure/resources/storage_container.py
  tools/c7n_azure/tests/cassettes/StorageContainerTest.containers.json
  tools/c7n_azure/tests/templates/storage.json
  tools/c7n_azure/tests/test_storage_container.py
Labels: cloud/azure

#4720 azure - improve getting and naming loggers
  tools/c7n_azure/c7n_azure/actions/tagging.py
  tools/c7n_azure/c7n_azure/container_host/modes.py
  tools/c7n_azure/c7n_azure/filters.py
  tools/c7n_azure/c7n_azure/function_package.py
  tools/c7n_azure/c7n_azure/output.py
  tools/c7n_azure/c7n_azure/policy.py
  tools/c7n_azure/c7n_azure/provisioning/deployment_unit.py
  tools/c7n_azure/c7n_azure/resources/cosmos_db.py
  tools/c7n_azure/c7n_azure/resources/event_hub.py
  tools/c7n_azure/c7n_azure/resources/sqlserver.py
  tools/c7n_azure/c7n_azure/resources/storage.py
Labels: cloud/azure

#4701 azure - cost management exports resource
  tools/c7n_azure/c7n_azure/entry.py
  tools/c7n_azure/c7n_azure/query.py
  tools/c7n_azure/c7n_azure/resources/cost_management_export.py
  tools/c7n_azure/tests/cassettes/CostManagementExportTest.common.json
  tools/c7n_azure/tests/cassettes/CostManagementExportTest.last-execution.json
  tools/c7n_azure/tests/templates/cleanup.sh
  tools/c7n_azure/tests/templates/cost-management-export-body.template
  tools/c7n_azure/tests/templates/cost-management-export.json
  tools/c7n_azure/tests/templates/provision.sh
  tools/c7n_azure/tests/test_cost_management_export.py
Labels: cloud/azure

#4722 azure - Add custom prefix for NSG rules
  tools/c7n_azure/c7n_azure/resources/network_security_group.py
Labels: cloud/azure

#4725 azure - update test_subscription.py
  tools/c7n_azure/tests/cassettes/SubscriptionTest.test_add_policy.json
  tools/c7n_azure/tests/test_subscription.py
Labels: cloud/azure

#4562 Improve regex example.
  docs/source/filters.rst
Labels: area/docs

#4735 azure - fix app service plan scale out
  tests/test_policy.py
  tools/c7n_azure/c7n_azure/resources/appserviceplan.py
  tools/c7n_azure/tests/cassettes/AppServicePlanTest.test_resize_plan_from_resource_tag.json
  tools/c7n_azure/tests/test_app_service_plan.py
Labels: cloud/azure

#4733 azure - web app ssl configuration
  docs/source/azure/examples/appservicecors-compute.rst
  tools/c7n_azure/c7n_azure/resources/web_app.py
  tools/c7n_azure/tests/cassettes/WebAppTest.test_find_by_min_tls.json
  tools/c7n_azure/tests/test_webapp.py
Labels: cloud/azure

#4747 azure - update provision\cleanup scripts to support --skip option
  .azure-pipelines/azure-nightly-tests.yml
  tools/c7n_azure/tests/templates/cleanup.sh
  tools/c7n_azure/tests/templates/cost-management-export-body.template
  tools/c7n_azure/tests/templates/provision.sh
Labels: cloud/azure

#4745 azure - Skip certain tests when run live
  .azure-pipelines/azure-nightly-tests.yml
  tools/c7n_azure/tests/test_azure_utils.py
  tools/c7n_azure/tests/test_container_service.py
Labels: cloud/azure

#4749 azure - update firewall tests
  tools/c7n_azure/tests/cassettes/StorageTestFirewall.test_bypass_network_rules_action.json
  tools/c7n_azure/tests/cassettes/StorageTestFirewall.test_default_action_network_rules_action.json
  tools/c7n_azure/tests/cassettes/StorageTestFirewall.test_empty_bypass_network_rules_action.json
  tools/c7n_azure/tests/cassettes/StorageTestFirewall.test_missing_bypass_network_rules_action.json
  tools/c7n_azure/tests/cassettes/StorageTestFirewall.test_network_ip_rules_action.json
  tools/c7n_azure/tests/cassettes/StorageTestFirewall.test_virtual_network_rules_action.json
  tools/c7n_azure/tests/cassettes/StorageTestFirewallActions.test_bypass_network_rules_action.json
  tools/c7n_azure/tests/cassettes/StorageTestFirewallActions.test_default_action_network_rules_action.json
  tools/c7n_azure/tests/cassettes/StorageTestFirewallActions.test_empty_bypass_network_rules_action.json
  tools/c7n_azure/tests/cassettes/StorageTestFirewallActions.test_missing_bypass_network_rules_action.json
  tools/c7n_azure/tests/cassettes/StorageTestFirewallActions.test_network_ip_rules_action.json
  tools/c7n_azure/tests/cassettes/StorageTestFirewallActions.test_virtual_network_rules_action.json
  tools/c7n_azure/tests/test_storage_firewall_actions.py
Labels: cloud/azure

#4732 Azure - Container host docs
  docs/source/azure/configuration/acitutorial.rst
  docs/source/azure/configuration/containerhosting.rst
  docs/source/azure/configuration/helmtutorial.rst
  docs/source/azure/configuration/index.rst
  docs/source/azure/configuration/resources/container-host-multiple.png
  docs/source/azure/configuration/resources/container-host.png
Labels: area/docs, cloud/azure

#4748 Azure - nightly functional - Fix for resource group and Cosmos
  tools/c7n_azure/tests/azure_common.py
  tools/c7n_azure/tests/cassettes/CosmosDBFirewallActionTest.firewall_action.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.firewall.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_find_by_name.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_find_by_name_collection.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_find_by_name_database.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_offer_collection.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_store_throughput_state_collection_action.json
  tools/c7n_azure/tests/cassettes/CosmosDBThroughputActionsTest.test_replace_offer_collection_action.json
  tools/c7n_azure/tests/cassettes/CosmosDBThroughputActionsTest.test_restore_throughput_state_updates_throughput_from_tag.json
  tools/c7n_azure/tests/cassettes/QueryResourceManagerTest.resource_limits.json
  tools/c7n_azure/tests/test_azure_query.py
  tools/c7n_azure/tests/test_cosmos_db.py
Labels: cloud/azure

#4768 Azure - update click keyword args
  tools/c7n_azure/c7n_azure/container_host/host.py
Labels: cloud/azure

#4758 azure - action - hdinsight resize action
  tools/c7n_azure/c7n_azure/resources/hdinsight.py
  tools/c7n_azure/tests/cassettes/HdinsightTest.common.json
  tools/c7n_azure/tests/test_hdinsight.py
Labels: cloud/azure

#4784 azure - skip failed container enumerations
  tools/c7n_azure/c7n_azure/resources/storage_container.py
Labels: cloud/azure

#4785 azure - subscription ID override works for CLI auth
  tools/c7n_azure/c7n_azure/session.py
  tools/c7n_azure/tests/test_provider.py
Labels: cloud/azure

#4787 Azure - Retention test fixes
  tools/c7n_azure/tests/test_sqldatabase.py
Labels: cloud/azure

#4789 azure - provisioning of win consumption app service plans
  tools/c7n_azure/tests/cassettes/AppServicePlanTest.linux_plans.json
  tools/c7n_azure/tests/cassettes/AppServicePlanTest.test_resize_plan_linux.json
  tools/c7n_azure/tests/cassettes/AppServicePlanTest.test_resize_plan_win.json
  tools/c7n_azure/tests/cassettes/AppServicePlanTest.window_plans.json
  tools/c7n_azure/tests/templates/appserviceplan.json
  tools/c7n_azure/tests/test_app_service_plan.py
Labels: cloud/azure

#4792 azure - deployment unit & logic app tests fixes
  tools/c7n_azure/tests/cassettes/LogicAppTest.test_get_callback.json
  tools/c7n_azure/tests/test_deployment_units.py
  tools/c7n_azure/tests/test_logic_app.py
Labels: cloud/azure

#4802 azure - update linux app service plan provisioning region
  tools/c7n_azure/tests/cassettes/AppServicePlanTest.linux_plans.json
  tools/c7n_azure/tests/templates/appserviceplan-linux.json
Labels: cloud/azure

#4810 azure - session refactor
  tools/c7n_azure/c7n_azure/session.py
  tools/c7n_azure/tests/azure_common.py
  tools/c7n_azure/tests/data/test_auth_file_no_sub.json
  tools/c7n_azure/tests/test_deployment_units.py
  tools/c7n_azure/tests/test_functional_actions_tags.py
  tools/c7n_azure/tests/test_functional_filters_tags.py
  tools/c7n_azure/tests/test_session.py
Labels: cloud/azure

#4817 azure - marked for op - time zone reset
  tools/c7n_azure/c7n_azure/filters.py
  tools/c7n_azure/tests/test_filters_marked-for-op.py
  tools/c7n_azure/tests/test_filters_marked_for_op.py
  tools/c7n_azure/tests/tools_tags.py
Labels: cloud/azure, kind/bug

#4843 azure - fix test_session nightly failures
  tools/c7n_azure/tests/test_session.py
Labels: cloud/azure

#4831 azure - container host mp
  tools/c7n_azure/c7n_azure/container_host/host.py
Labels: cloud/azure

#4824 azure - action - added lock name and notes feature to lock action
  tools/c7n_azure/c7n_azure/actions/lock.py
  tools/c7n_azure/tests/cassettes/LockActionTest.test_lock_action_child_resource.json
  tools/c7n_azure/tests/cassettes/LockActionTest.test_lock_action_resource.json
  tools/c7n_azure/tests/cassettes/LockActionTest.test_lock_action_resource_group.json
  tools/c7n_azure/tests/test_lock_action.py
Labels: cloud/azure

#4804 azure - resources - review default fields
  docs/source/azure/advanced/contribute.rst
  tools/c7n_azure/c7n_azure/resources/aci.py
  tools/c7n_azure/c7n_azure/resources/apimanagement.py
  tools/c7n_azure/c7n_azure/resources/appserviceplan.py
  tools/c7n_azure/c7n_azure/resources/batch.py
  tools/c7n_azure/c7n_azure/resources/cdn.py
  tools/c7n_azure/c7n_azure/resources/cognitive_service.py
  tools/c7n_azure/c7n_azure/resources/container_registry.py
  tools/c7n_azure/c7n_azure/resources/container_service.py
  tools/c7n_azure/c7n_azure/resources/cost_management_export.py
  tools/c7n_azure/c7n_azure/resources/data_factory.py
  tools/c7n_azure/c7n_azure/resources/databricks.py
  tools/c7n_azure/c7n_azure/resources/datalake_store.py
  tools/c7n_azure/c7n_azure/resources/disk.py
  tools/c7n_azure/c7n_azure/resources/dns_zone.py
  tools/c7n_azure/c7n_azure/resources/hdinsight.py
  tools/c7n_azure/c7n_azure/resources/image.py
  tools/c7n_azure/c7n_azure/resources/iot_hub.py
  tools/c7n_azure/c7n_azure/resources/k8s_service.py
  tools/c7n_azure/c7n_azure/resources/network_interface.py
  tools/c7n_azure/c7n_azure/resources/network_security_group.py
  tools/c7n_azure/c7n_azure/resources/policy_assignments.py
  tools/c7n_azure/c7n_azure/resources/record_set.py
  tools/c7n_azure/c7n_azure/resources/redis.py
  tools/c7n_azure/c7n_azure/resources/resourcegroup.py
  tools/c7n_azure/c7n_azure/resources/route_table.py
  tools/c7n_azure/c7n_azure/resources/sqldatabase.py
  tools/c7n_azure/c7n_azure/resources/sqlserver.py
  tools/c7n_azure/c7n_azure/resources/storage.py
  tools/c7n_azure/c7n_azure/resources/storage_container.py
  tools/c7n_azure/c7n_azure/resources/vmss.py
Labels: cloud/azure

#4811 azure - sql firewall action
  tools/c7n_azure/c7n_azure/actions/base.py
  tools/c7n_azure/c7n_azure/actions/firewall.py
  tools/c7n_azure/c7n_azure/output.py
  tools/c7n_azure/c7n_azure/resources/cosmos_db.py
  tools/c7n_azure/c7n_azure/resources/sqlserver.py
  tools/c7n_azure/tests/cassettes/SQLServerFirewallActionTest.firewall_action.json
  tools/c7n_azure/tests/cassettes/SQLServerFirewallFilterTest.firewall_action.json
  tools/c7n_azure/tests/test_app_service_plan.py
  tools/c7n_azure/tests/test_sqlserver.py
Labels: cloud/azure

#4699 c7n - resource aliases
  c7n/registry.py
  c7n/schema.py
  tools/c7n_azure/c7n_azure/resources/sqldatabase.py
  tools/c7n_azure/c7n_azure/resources/sqlserver.py
  tools/c7n_azure/tests/test_sqldatabase.py
  tools/c7n_azure/tests/test_sqlserver.py
Labels: area/core

#4800 Azure - Container Host Docs Cleanup
  docs/source/azure/configuration/acitutorial.rst
  docs/source/azure/configuration/containerhosting.rst
  docs/source/azure/configuration/helmtutorial.rst
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/c7n_azure/container_host/host.py
  tools/ops/azure/container-host/aci/aci-template.json
  tools/ops/azure/container-host/chart/deploy_chart.py
Labels: area/docs, cloud/azure

#4656 Add newline as delimiter for resources in slack_default template
  tools/c7n_mailer/c7n_mailer/msg-templates/slack_default.j2
Labels: area/tools-mailer

#4865 azure - log and metric tweaks
  tools/c7n_azure/c7n_azure/actions/base.py
  tools/c7n_azure/c7n_azure/filters.py
  tools/c7n_azure/c7n_azure/output.py
  tools/c7n_azure/c7n_azure/policy.py
  tools/c7n_azure/c7n_azure/session.py
  tools/c7n_azure/tests/test_base_action.py
  tools/c7n_azure/tests/test_output.py
Labels: cloud/azure

#4880 azure - fix cosmos db test
  tools/c7n_azure/c7n_azure/filters.py
  tools/c7n_azure/tests/azure_common.py
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_collection_metrics_filter.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_database_metrics_filter.json
  tools/c7n_azure/tests/test_cosmos_db.py
Labels: area/test-infra, cloud/azure
