Repository cloud-custodian/cloud-custodian, pull requests merged in 2019-06, with the labels that each got.

#4074 C7N - Webhook Action
  c7n/actions/core.py
  c7n/actions/webhook.py
  docs/source/actions.rst
  docs/source/aws/policy/index.rst
  docs/source/index.rst
  requirements.txt
  setup.py
  tests/test_policy.py
  tests/test_webhook.py
  tools/c7n_azure/setup.py
Labels: area/actions

#4108 Azure - Databricks stub
  tools/c7n_azure/c7n_azure/entry.py
  tools/c7n_azure/c7n_azure/resources/databricks.py
  tools/c7n_azure/setup.py
  tools/c7n_azure/tests/cassettes/DatabricksTest.test_find_by_name.json
  tools/c7n_azure/tests/templates/databricks.json
  tools/c7n_azure/tests/test_databricks.py
Labels: cloud/azure

#4144 azure - Remove pypi installation from the docs
  docs/source/azure/gettingstarted.rst
  tools/c7n_azure/readme.md
Labels: cloud/azure

#4154 azure - Enable tag operations for 'armresource'
  docs/source/azure/policy/resources/arm.rst
  tools/c7n_azure/c7n_azure/actions/base.py
  tools/c7n_azure/c7n_azure/entry.py
  tools/c7n_azure/c7n_azure/resources/appserviceplan.py
  tools/c7n_azure/c7n_azure/resources/arm.py
  tools/c7n_azure/c7n_azure/resources/batch.py
  tools/c7n_azure/c7n_azure/resources/cdn.py
  tools/c7n_azure/c7n_azure/resources/cognitive_service.py
  tools/c7n_azure/c7n_azure/resources/container_registry.py
  tools/c7n_azure/c7n_azure/resources/container_service.py
  tools/c7n_azure/c7n_azure/resources/cosmos_db.py
  tools/c7n_azure/c7n_azure/resources/data_factory.py
  tools/c7n_azure/c7n_azure/resources/databricks.py
  tools/c7n_azure/c7n_azure/resources/datalake_store.py
  tools/c7n_azure/c7n_azure/resources/disk.py
  tools/c7n_azure/c7n_azure/resources/generic_arm_resource.py
  tools/c7n_azure/c7n_azure/resources/image.py
  tools/c7n_azure/c7n_azure/resources/iot_hub.py
  tools/c7n_azure/c7n_azure/resources/k8s_service.py
  tools/c7n_azure/c7n_azure/resources/key_vault.py
  tools/c7n_azure/c7n_azure/resources/load_balancer.py
  tools/c7n_azure/c7n_azure/resources/network_interface.py
  tools/c7n_azure/c7n_azure/resources/network_security_group.py
  tools/c7n_azure/c7n_azure/resources/policy_assignments.py
  tools/c7n_azure/c7n_azure/resources/public_ip.py
  tools/c7n_azure/c7n_azure/resources/redis.py
  tools/c7n_azure/c7n_azure/resources/resourcegroup.py
  tools/c7n_azure/c7n_azure/resources/route_table.py
  tools/c7n_azure/c7n_azure/resources/sqldatabase.py
  tools/c7n_azure/c7n_azure/resources/sqlserver.py
  tools/c7n_azure/c7n_azure/resources/storage.py
  tools/c7n_azure/c7n_azure/resources/vm.py
  tools/c7n_azure/c7n_azure/resources/vmss.py
  tools/c7n_azure/c7n_azure/resources/vnet.py
  tools/c7n_azure/c7n_azure/resources/web_app.py
  tools/c7n_azure/c7n_azure/tags.py
  tools/c7n_azure/c7n_azure/utils.py
  tools/c7n_azure/tests/cassettes/ArmResourceTest.test_arm_resource_resource_type.json
  tools/c7n_azure/tests/test_armresource.py
  tools/c7n_azure/tests/test_azure_utils.py
Labels: cloud/azure

#4139 Azure - Logic App Action
  docs/source/azure/policy/genericarmaction.rst
  tools/c7n_azure/c7n_azure/actions/logic_app.py
  tools/c7n_azure/c7n_azure/entry.py
  tools/c7n_azure/c7n_azure/query.py
  tools/c7n_azure/setup.py
  tools/c7n_azure/tests/azure_common.py
  tools/c7n_azure/tests/cassettes/LogicAppTest.test_get_callback.json
  tools/c7n_azure/tests/templates/logic-app.json
  tools/c7n_azure/tests/test_logic_app.py
Labels: cloud/azure

#4114 ci - restore matrix builds across py versions
  .azure-pipelines.yml
  tools/c7n_azure/tests/test_logic_app.py
  tools/c7n_azure/tests/test_sqldatabase.py
  tools/c7n_mailer/c7n_mailer/ldap_lookup.py
  tools/c7n_mailer/tests/test_ldap.py
Labels: area/test-infra

#4199 docs - Update generated html for Schema arrow
  docs/source/_static/css/expand.css
  tools/c7n_sphinxext/c7n_sphinxext/_templates/schema.rst
Labels: area/docs

#4214 Enable docs examples verification tests for Azure
  c7n/policy.py
  c7n/testing.py
  requirements-dev.txt
  tests/test_doc_examples.py
  tools/c7n_azure/c7n_azure/filters.py
Labels: area/docs, area/test-infra

#4255 azure - inline resource docs (auth, api management, app plan)
  docs/source/azure/gettingstarted.rst
  tools/c7n_azure/c7n_azure/resources/access_control.py
  tools/c7n_azure/c7n_azure/resources/apimanagement.py
  tools/c7n_azure/c7n_azure/resources/appserviceplan.py
  tools/dev/docker_tox_linux/Dockerfile
Labels: area/docs, cloud/azure

#4222 azure - add storage diagnostic settings filter
  tools/c7n_azure/c7n_azure/resources/storage.py
  tools/c7n_azure/c7n_azure/storage_utils.py
  tools/c7n_azure/c7n_azure/utils.py
  tools/c7n_azure/setup.py
  tools/c7n_azure/tests/cassettes/StorageTest.test_diagnostic_settings_blob_storage_type.json
  tools/c7n_azure/tests/cassettes/StorageTest.test_diagnostic_settings_file_storage_type.json
  tools/c7n_azure/tests/cassettes/StorageTest.test_diagnostic_settings_queue_storage_type.json
  tools/c7n_azure/tests/cassettes/StorageTest.test_diagnostic_settings_table_storage_type.json
  tools/c7n_azure/tests/test_storage.py
  tools/c7n_azure/tests/test_storageutils.py
Labels: cloud/azure

#4223 azure - Lock filter and action.
  tools/c7n_azure/c7n_azure/actions/lock.py
  tools/c7n_azure/c7n_azure/filters.py
  tools/c7n_azure/c7n_azure/resources/arm.py
  tools/c7n_azure/c7n_azure/utils.py
  tools/c7n_azure/tests/cassettes/LockActionTest.test_lock_action_child_resource.json
  tools/c7n_azure/tests/cassettes/LockActionTest.test_lock_action_resource.json
  tools/c7n_azure/tests/cassettes/LockActionTest.test_lock_action_resource_group.json
  tools/c7n_azure/tests/cassettes/ResourceLockFilter.test_find_by_lock.json
  tools/c7n_azure/tests/cassettes/ResourceLockFilter.test_find_by_lock_type.json
  tools/c7n_azure/tests/cassettes/ResourceLockFilter.test_find_by_lock_type_absent.json
  tools/c7n_azure/tests/cassettes/ResourceLockFilter.test_find_by_lock_type_any.json
  tools/c7n_azure/tests/cassettes/ResourceLockFilter.test_lock_filter_schema_validate.json
  tools/c7n_azure/tests/templates/keyvault.json
  tools/c7n_azure/tests/test_azure_utils.py
  tools/c7n_azure/tests/test_filter_resource_lock.py
  tools/c7n_azure/tests/test_lock_action.py
Labels: cloud/azure

#4281 azure - docs page on azure policy
  docs/source/azure/advanced/azurepolicy.rst
  docs/source/azure/advanced/index.rst
Labels: area/docs, cloud/azure

#4280 Azure - Inline docs for a bunch of resources.
  tools/c7n_azure/c7n_azure/resources/cognitive_service.py
  tools/c7n_azure/c7n_azure/resources/container_registry.py
  tools/c7n_azure/c7n_azure/resources/container_service.py
  tools/c7n_azure/c7n_azure/resources/cosmos_db.py
  tools/c7n_azure/c7n_azure/resources/data_factory.py
  tools/c7n_azure/c7n_azure/resources/databricks.py
  tools/c7n_azure/c7n_azure/resources/datalake_store.py
  tools/c7n_azure/c7n_azure/resources/subscription.py
  tools/c7n_azure/c7n_azure/resources/vmss.py
Labels: area/docs, cloud/azure

#4282 azure - vm image docs update
  tools/c7n_azure/c7n_azure/resources/image.py
Labels: area/docs, cloud/azure

#4224 Cask - Release Pipeline
  .azure-pipelines/cask-release.yml
  tools/cask/Makefile
Labels: area/cask

#4286 azure - docs - small nav fix
  docs/source/azure/advanced/azurepolicy.rst
  docs/source/azure/advanced/index.rst
Labels: area/docs, cloud/azure

#4287 Azure - two nav fixes
  docs/source/azure/advanced/azurepolicy.rst
  docs/source/azure/policy/index.rst
Labels: area/docs, cloud/azure
