Repository cloud-custodian/cloud-custodian, pull requests merged in 2019-11, with the labels that each got.

#4996 azure - resource - Azure Search
  tools/c7n_azure/c7n_azure/entry.py
  tools/c7n_azure/c7n_azure/resources/search.py
  tools/c7n_azure/setup.py
  tools/c7n_azure/tests_azure/cassettes/SearchTest.test_find_by_name.json
  tools/c7n_azure/tests_azure/templates/search.json
  tools/c7n_azure/tests_azure/tests_resources/test_search.py
Labels: cloud/azure

#5035 azure - updated functions structure & updated azure-mgmt-resource
  tools/c7n_azure/c7n_azure/function_package.py
  tools/c7n_azure/setup.py
  tools/c7n_azure/tests_azure/tests_resources/test_subscription.py
Labels: cloud/azure

#5045 azure - add extra exception type
  tools/c7n_azure/c7n_azure/functionapp_utils.py
Labels: cloud/azure

#5060 azure - fix Azure nightly tests
  tools/c7n_azure/c7n_azure/actions/lock.py
  tools/c7n_azure/c7n_azure/session.py
  tools/c7n_azure/c7n_azure/utils.py
  tools/c7n_azure/tests_azure/azure_common.py
  tools/c7n_azure/tests_azure/cassettes/DeleteRecordSetTest.test_delete_a_record_set.json
  tools/c7n_azure/tests_azure/templates/postgresql.json
  tools/c7n_azure/tests_azure/test_actions_mark-for-op.py
  tools/c7n_azure/tests_azure/test_azure_utils.py
  tools/c7n_azure/tests_azure/test_lock_action.py
  tools/c7n_azure/tests_azure/tests_resources/test_armresource.py
Labels: cloud/azure

#5081 Fix bag
  c7n/config.py
Labels: status/1.5-awaiting-cla

#5117 azure - fix nic effective route test
  tools/c7n_azure/tests_azure/cassettes/NetworkInterfaceTest.test_find_by_default_routes.json
  tools/c7n_azure/tests_azure/tests_resources/test_network_interface.py
Labels: area/test-infra, cloud/azure

#5015 GCP labelling/tagging
  c7n/lookup.py
  tests/test_lookup.py
  tools/c7n_azure/c7n_azure/actions/tagging.py
  tools/c7n_azure/c7n_azure/resources/appserviceplan.py
  tools/c7n_gcp/c7n_gcp/actions/__init__.py
  tools/c7n_gcp/c7n_gcp/actions/core.py
  tools/c7n_gcp/c7n_gcp/actions/labels.py
  tools/c7n_gcp/c7n_gcp/filters/labels.py
  tools/c7n_gcp/c7n_gcp/query.py
  tools/c7n_gcp/c7n_gcp/resources/compute.py
  tools/c7n_gcp/c7n_gcp/resources/spanner.py
  tools/c7n_gcp/tests/data/flights/disk-label/get-compute-v1-projects-team-saasops-aggregated-disks_1.json
  tools/c7n_gcp/tests/data/flights/disk-label/get-compute-v1-projects-team-saasops-zones-us-central1-c-disks_1.json
  tools/c7n_gcp/tests/data/flights/disk-label/post-compute-v1-projects-team-saasops-zones-us-central1-c-disks-test-ingwar-setLabels_1.json
  tools/c7n_gcp/tests/data/flights/instance-label/get-compute-v1-projects-team-saasops-aggregated-instances_1.json
  tools/c7n_gcp/tests/data/flights/instance-label/get-compute-v1-projects-team-saasops-zones-us-central1-c-instances_1.json
  tools/c7n_gcp/tests/data/flights/instance-label/post-compute-v1-projects-team-saasops-zones-us-central1-c-instances-test-ingwar-setLabels_1.json
  tools/c7n_gcp/tests/test_compute.py
  tools/c7n_gcp/tests/test_gcp_labels.py
Labels: priority/P1
