Repository cloud-custodian/cloud-custodian, pull requests merged in 2019-05, with the labels that each got.

#3960 Azure - Remove arm polling from subscriptions test
  tools/c7n_azure/tests/test_event_subscriptions.py
Labels: cloud/azure

#3857 azure - Replace cache folder with prebuild cache zip archive
  c7n/mu.py
  tests/data/test.zip
  tests/test_mu.py
  tools/c7n_azure/c7n_azure/dependency_manager.py
  tools/c7n_azure/c7n_azure/function_package.py
  tools/c7n_azure/tests/data/dependencies/sample.py
  tools/c7n_azure/tests/data/dependencies/sample.pyc
  tools/c7n_azure/tests/data/test_auth_file.json
  tools/c7n_azure/tests/data/test_cache/cache.zip
  tools/c7n_azure/tests/data/test_cache/metadata.json
  tools/c7n_azure/tests/data/test_config.json
  tools/c7n_azure/tests/data/test_config_empty.json
  tools/c7n_azure/tests/test_dependency_manager.py
  tools/c7n_azure/tests/test_function_package.py
  tools/c7n_azure/tests/test_functionapp_utils.py
  tools/c7n_azure/tests/test_handler.py
  tools/c7n_azure/tests/test_session.py
  tools/c7n_mailer/c7n_mailer/deploy.py
  tools/c7n_sentry/c7n_sentry/c7nsentry.py
Labels: cloud/azure

#3897 azure - KeyVault Keys resource & filters
  docs/source/azure/policy/resources/keyvaultkeys.rst
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/c7n_azure/entry.py
  tools/c7n_azure/c7n_azure/query.py
  tools/c7n_azure/c7n_azure/resources/arm.py
  tools/c7n_azure/c7n_azure/resources/key_vault_keys.py
  tools/c7n_azure/c7n_azure/resources/sqldatabase.py
  tools/c7n_azure/c7n_azure/session.py
  tools/c7n_azure/c7n_azure/utils.py
  tools/c7n_azure/setup.py
  tools/c7n_azure/tests/azure_common.py
  tools/c7n_azure/tests/cassettes/KeyVaultKeyTest.test_key_vault_keys_keyvault.json
  tools/c7n_azure/tests/cassettes/KeyVaultKeyTest.test_key_vault_keys_type.json
  tools/c7n_azure/tests/templates/provision.sh
  tools/c7n_azure/tests/test_keyvault_keys.py
Labels: cloud/azure

#3920 Azure - Storage firewall rules filter
  docs/source/azure/policy/filters.rst
  docs/source/azure/policy/index.rst
  docs/source/azure/policy/resources/sqlserver.rst
  docs/source/azure/policy/resources/storage.rst
  tools/c7n_azure/c7n_azure/filters.py
  tools/c7n_azure/c7n_azure/resources/sqlserver.py
  tools/c7n_azure/c7n_azure/resources/storage.py
  tools/c7n_azure/tests/cassettes/StorageTest.test_firewall_rules_equal.json
  tools/c7n_azure/tests/cassettes/StorageTest.test_firewall_rules_include.json
  tools/c7n_azure/tests/cassettes/StorageTest.test_firewall_rules_include_cidr.json
  tools/c7n_azure/tests/cassettes/StorageTest.test_firewall_rules_not_equal.json
  tools/c7n_azure/tests/cassettes/StorageTest.test_firewall_rules_not_include_all_ranges.json
  tools/c7n_azure/tests/cassettes/StorageTest.test_firewall_rules_not_include_cidr.json
  tools/c7n_azure/tests/cassettes/StorageTestFirewallActions.test_bypass_network_rules_action.json
  tools/c7n_azure/tests/cassettes/StorageTestFirewallActions.test_default_action_network_rules_action.json
  tools/c7n_azure/tests/cassettes/StorageTestFirewallActions.test_empty_bypass_network_rules_action.json
  tools/c7n_azure/tests/cassettes/StorageTestFirewallActions.test_missing_bypass_network_rules_action.json
  tools/c7n_azure/tests/cassettes/StorageTestFirewallActions.test_network_ip_rules_action.json
  tools/c7n_azure/tests/cassettes/StorageTestFirewallActions.test_virtual_network_rules_action.json
  tools/c7n_azure/tests/templates/storage.json
  tools/c7n_azure/tests/test_firewall_rules_filter.py
  tools/c7n_azure/tests/test_sqlserver.py
  tools/c7n_azure/tests/test_storage.py
  tools/c7n_azure/tests/test_storage_firewall_actions.py
Labels: cloud/azure

#4016 azure - fix sas generation for Functions package
  tools/c7n_azure/c7n_azure/function_package.py
  tools/c7n_azure/c7n_azure/functionapp_utils.py
Labels: cloud/azure, kind/bug

#4028 Azure - Make mailer work
  tools/c7n_azure/c7n_azure/function_package.py
  tools/c7n_azure/tests/test_function_package.py
  tools/c7n_mailer/README.md
  tools/c7n_mailer/c7n_mailer/azure/sendgrid_delivery.py
  tools/c7n_mailer/requirements.txt
  tools/c7n_mailer/setup.py
  tools/c7n_mailer/tests/test_azure.py
Labels: cloud/azure

#4034 Azure - Refactor actions.py
  docs/source/azure/gettingstarted.rst
  docs/source/azure/policy/genericarmaction.rst
  tools/c7n_azure/c7n_azure/actions/__init__.py
  tools/c7n_azure/c7n_azure/actions/base.py
  tools/c7n_azure/c7n_azure/actions/delete.py
  tools/c7n_azure/c7n_azure/actions/notify.py
  tools/c7n_azure/c7n_azure/actions/tagging.py
  tools/c7n_azure/c7n_azure/entry.py
  tools/c7n_azure/c7n_azure/filters.py
  tools/c7n_azure/c7n_azure/query.py
  tools/c7n_azure/c7n_azure/resources/access_control.py
  tools/c7n_azure/c7n_azure/resources/appserviceplan.py
  tools/c7n_azure/c7n_azure/resources/arm.py
  tools/c7n_azure/c7n_azure/resources/event_subscription.py
  tools/c7n_azure/c7n_azure/resources/key_vault.py
  tools/c7n_azure/c7n_azure/resources/storage.py
  tools/c7n_azure/c7n_azure/resources/vm.py
  tools/c7n_azure/tests/azure_common.py
  tools/c7n_azure/tests/cassettes/DeploymentUnitsTest.test_app_insights.json
  tools/c7n_azure/tests/data/dependencies/sample.pyc
  tools/c7n_azure/tests/test_armresource.py
  tools/c7n_azure/tests/test_notify.py
  tools/c7n_azure/tests/test_sqlserver.py
  tools/c7n_azure/tests/test_tags.py
  tools/c7n_azure/tests/test_vm.py
Labels: cloud/azure

#4064 azure - fix azure-mgmt-subscription api and pin azure-cli-core
  tools/c7n_azure/c7n_azure/resources/subscription.py
  tools/c7n_azure/setup.py
Labels: kind/bug

#3885 azure - Add Auto Scaling to App Service Plans
  docs/source/azure/advanced/azurefunctions.rst
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/c7n_azure/policy.py
  tools/c7n_azure/c7n_azure/provisioning/app_service_plan.py
  tools/c7n_azure/c7n_azure/provisioning/autoscale.py
  tools/c7n_azure/tests/azure_common.py
  tools/c7n_azure/tests/cassettes/DeploymentUnitsTest.test_app_insights.json
  tools/c7n_azure/tests/cassettes/DeploymentUnitsTest.test_app_service_plan_autoscale.json
  tools/c7n_azure/tests/cassettes/DeploymentUnitsTest.test_function_app_consumption.json
  tools/c7n_azure/tests/cassettes/DeploymentUnitsTest.test_function_app_dedicated.json
  tools/c7n_azure/tests/cassettes/DeploymentUnitsTest.test_service_plan.json
  tools/c7n_azure/tests/cassettes/DeploymentUnitsTest.test_storage_account.json
  tools/c7n_azure/tests/cassettes/FunctionAppUtilsTest.test_deploy_function_app.json
  tools/c7n_azure/tests/test_deployment_units.py
  tools/c7n_azure/tests/test_functionapp_utils.py
  tools/c7n_azure/tests/test_policy.py
Labels: cloud/azure

#4075 azure - fix hierarchy of Azure advanced usage docs section
  docs/source/azure/advanced/azurefunctions.rst
  docs/source/azure/advanced/multiplesubs.rst
Labels: area/docs, cloud/azure

#4076 azure - use stable version of EventrGrid 2.2.0
  tools/c7n_azure/setup.py
Labels: cloud/azure

#4081 azure - update resource examples in docs
  docs/source/azure/examples/addstoragefirewall.rst
  docs/source/azure/examples/resizeappplan.rst
  docs/source/azure/policy/resources/appserviceplan.rst
  docs/source/azure/policy/resources/arm.rst
  docs/source/azure/policy/resources/batch.rst
  docs/source/azure/policy/resources/cognitiveservices.rst
  docs/source/azure/policy/resources/cosmosdb.rst
  docs/source/azure/policy/resources/datafactory.rst
  docs/source/azure/policy/resources/datalake.rst
  docs/source/azure/policy/resources/disk.rst
  docs/source/azure/policy/resources/iothub.rst
  docs/source/azure/policy/resources/keyvault.rst
  docs/source/azure/policy/resources/loadbalancer.rst
  docs/source/azure/policy/resources/networkinterface.rst
  docs/source/azure/policy/resources/publicip.rst
  docs/source/azure/policy/resources/redis.rst
  docs/source/azure/policy/resources/resourcegroup.rst
  docs/source/azure/policy/resources/sqldatabase.rst
  docs/source/azure/policy/resources/sqlserver.rst
  docs/source/azure/policy/resources/storage.rst
  docs/source/azure/policy/resources/vm.rst
  docs/source/azure/policy/resources/vmss.rst
  docs/source/azure/policy/resources/vnet.rst
  docs/source/azure/policy/resources/webapp.rst
Labels: area/docs, cloud/azure
