Repository cloud-custodian/cloud-custodian, pull requests merged in 2019-07, with the labels that each got.

#4186 mailer - Azure SMTP fix & c7n_mailer functional test for Azure
  tools/c7n_mailer/README.md
  tools/c7n_mailer/c7n_mailer/azure/azure_queue_processor.py
  tools/c7n_mailer/c7n_mailer/azure/sendgrid_delivery.py
  tools/c7n_mailer/c7n_mailer/email_delivery.py
  tools/c7n_mailer/c7n_mailer/utils_email.py
  tools/c7n_mailer/tests/azure/templates/mailer.yaml
  tools/c7n_mailer/tests/azure/templates/mailer_sendgrid.yaml
  tools/c7n_mailer/tests/azure/templates/notify_policy.yaml
  tools/c7n_mailer/tests/azure/test.sh
  tools/c7n_mailer/tests/test_email.py
Labels: cloud/azure

#4301 azure - storage logging action
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/c7n_azure/resources/storage.py
  tools/c7n_azure/tests/cassettes/StorageTest.test_disable_log_settings.json
  tools/c7n_azure/tests/cassettes/StorageTest.test_disable_retention_log_settings.json
  tools/c7n_azure/tests/cassettes/StorageTest.test_enable_log_settings.json
  tools/c7n_azure/tests/templates/storage.json
  tools/c7n_azure/tests/test_storage.py
Labels: cloud/azure

#4305 Azure - Cosmos database, collection, offer filter
  tools/c7n_azure/c7n_azure/query.py
  tools/c7n_azure/c7n_azure/resources/cosmos_db.py
  tools/c7n_azure/c7n_azure/resources/key_vault.py
  tools/c7n_azure/c7n_azure/resources/sqlserver.py
  tools/c7n_azure/c7n_azure/resources/storage.py
  tools/c7n_azure/c7n_azure/utils.py
  tools/c7n_azure/setup.py
  tools/c7n_azure/tests/azure_common.py
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_find_by_name.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_find_by_name_collection.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_find_by_name_database.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_firewall_rules_include.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_firewall_rules_include_cidr.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_firewall_rules_not_equal.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_firewall_rules_not_include_all_ranges.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_firewall_rules_not_include_cidr.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_offer_collection.json
  tools/c7n_azure/tests/templates/cosmosdb.json
  tools/c7n_azure/tests/test_cosmos_db.py
  tools/c7n_azure/tests/test_firewall_rules_filter.py
  tools/c7n_azure/tests/test_storage.py
  tools/c7n_azure/tests/test_utils_ip_range_helper.py
Labels: cloud/azure

#4322 Cask - Windows powershell and instructions
  tools/cask/readme.md
  tools/cask/scripts/install.ps1
Labels: area/cask

#4325 azure - fix packager code to remove duplicates
  tools/c7n_azure/c7n_azure/dependency_manager.py
  tools/c7n_azure/setup.py
  tools/c7n_azure/tests/test_dependency_manager.py
Labels: cloud/azure, kind/bug

#4323 azure - document azure use for mailer replay
  tools/c7n_mailer/README.md
  tools/c7n_mailer/c7n_mailer/replay.py
Labels: area/docs, cloud/azure

#4314 azure - resource cost filter
  tools/c7n_azure/c7n_azure/filters.py
  tools/c7n_azure/c7n_azure/resources/arm.py
  tools/c7n_azure/setup.py
  tools/c7n_azure/tests/cassettes/CostFilterTest.test_exact_cost.json
  tools/c7n_azure/tests/cassettes/CostFilterTest.test_timeframe_days.json
  tools/c7n_azure/tests/test_cost_filter.py
Labels: cloud/azure

#4335 Azure - On/Off Hours on all ARM resources
  tools/c7n_azure/c7n_azure/resources/appserviceplan.py
  tools/c7n_azure/c7n_azure/resources/arm.py
  tools/c7n_azure/c7n_azure/resources/vm.py
Labels: cloud/azure

#4318 Azure - Add Logic App E2E Scenario
  .gitignore
  docs/source/azure/examples/autotagusers.rst
  docs/source/azure/examples/index.rst
  docs/source/azure/examples/logicappnotifications/logicappnotification.rst
  docs/source/azure/examples/logicappnotifications/resources/f0.png
  docs/source/azure/examples/logicappnotifications/resources/f1.png
  docs/source/azure/examples/logicappnotifications/resources/f2.png
  docs/source/azure/examples/logicappnotifications/resources/f3.png
  docs/source/azure/examples/logicappnotifications/resources/f4.png
  docs/source/azure/examples/logicappnotifications/resources/f5.png
  docs/source/azure/examples/logicappnotifications/resources/f6.png
  docs/source/azure/examples/logicappnotifications/resources/f7.png
  docs/source/azure/examples/logicappnotifications/resources/f8.png
  docs/source/azure/examples/logicappnotifications/resources/f9.png
  docs/source/azure/examples/vmwithpublicip.rst
  docs/source/azure/gettingstarted.rst
Labels: cloud/azure

#4351 Azure - Access control - Support functions
  tools/c7n_azure/c7n_azure/resources/access_control.py
Labels: kind/bug

#4373 azure - auth file parity with environment variables
  tools/c7n_azure/c7n_azure/session.py
  tools/c7n_azure/tests/data/test_auth_file.json
  tools/c7n_azure/tests/data/test_auth_file_full.json
  tools/c7n_azure/tests/test_session.py
Labels: cloud/azure

#4369 azure - Resize API management resource
  tools/c7n_azure/c7n_azure/resources/apimanagement.py
  tools/c7n_azure/tests/test_apimanagement.py
Labels: cloud/azure

#4361 Azure - Add Metrics Config Option & Update Application Insights & Metrics Docs
  c7n/cli.py
  c7n/config.py
  c7n/ctx.py
  docs/source/aws/lambda.rst
  docs/source/aws/usage.rst
  docs/source/azure/advanced/appinsightslogging.rst
  docs/source/azure/advanced/azurefunctions.rst
  docs/source/azure/gettingstarted.rst
  docs/source/quickstart/advanced.rst
  tests/test_handler.py
  tools/c7n_azure/c7n_azure/policy.py
Labels: area/docs, cloud/azure

#4316 docs - Azure docs refactor
  docs/source/azure/advanced/bloboutput.rst
  docs/source/azure/advanced/contribute.rst
  docs/source/azure/advanced/index.rst
  docs/source/azure/azure-modes.rst
  docs/source/azure/configuration/authentication.rst
  docs/source/azure/configuration/hostingoptions.rst
  docs/source/azure/configuration/index.rst
  docs/source/azure/configuration/monitoring.rst
  docs/source/azure/examples/appserviceplansresize-compute.rst
  docs/source/azure/examples/emailnotify-general.rst
  docs/source/azure/examples/index.rst
  docs/source/azure/examples/loadbalancerfilterbyfrotendip-networking.rst
  docs/source/azure/examples/logicappnotifications/logicappnotification.rst
  docs/source/azure/examples/metrics-general-compute.rst
  docs/source/azure/examples/networksecuritygroups-networking.rst
  docs/source/azure/examples/resourcegroupsdelayedoperation-general.rst
  docs/source/azure/examples/resourcegroupsorphanresources-compute-networking.rst
  docs/source/azure/examples/resourcegroupsremoveempty-general.rst
  docs/source/azure/examples/routetablewithsubnet-networking.rst
  docs/source/azure/examples/sqldatabasebackupretention-databases.rst
  docs/source/azure/examples/sqldatabaselongtermbackupretention.rst
  docs/source/azure/examples/sqldatabaseshorttermbackupretention.rst
  docs/source/azure/examples/sqldatabaseupdateretentionpolicies-databases.rst
  docs/source/azure/examples/sqldatabasewithpremiumsku-databases.rst
  docs/source/azure/examples/storageaddfirewallrulestostorage-storage-networking.rst
  docs/source/azure/examples/storageremovepublicstorageips-networking-storage.rst
  docs/source/azure/examples/tagadd-general-compute.rst
  docs/source/azure/examples/tagautotagusers-general-identity.rst
  docs/source/azure/examples/tagremove-general-compute.rst
  docs/source/azure/examples/tagtrim-general-compute.rst
  docs/source/azure/examples/virtualmachinesstoppedvm-compute.rst
  docs/source/azure/examples/virtualmachineswithpublicip-compute-networking.rst
  docs/source/azure/gettingstarted.rst
  docs/source/azure/policy/resources/sqldatabase.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/quickstart/index.rst
  tools/c7n_azure/c7n_azure/resources/apimanagement.py
  tools/c7n_azure/c7n_azure/resources/sqldatabase.py
  tools/c7n_sphinxext/c7n_sphinxext/_templates/provider-resource.rst
Labels: area/docs, cloud/azure

#4409 c7n_mailer/azure - rename azure directory in c7n_mailer to fix import of azure resources
  tools/c7n_mailer/c7n_mailer/azure_mailer/__init__.py
  tools/c7n_mailer/c7n_mailer/azure_mailer/azure_queue_processor.py
  tools/c7n_mailer/c7n_mailer/azure_mailer/deploy.py
  tools/c7n_mailer/c7n_mailer/azure_mailer/function.py
  tools/c7n_mailer/c7n_mailer/azure_mailer/handle.py
  tools/c7n_mailer/c7n_mailer/azure_mailer/sendgrid_delivery.py
  tools/c7n_mailer/c7n_mailer/cli.py
  tools/c7n_mailer/tests/test_azure.py
Labels: area/tools-mailer, cloud/azure

#4356 gcp - doc for cloud router and delete action
  tools/c7n_gcp/c7n_gcp/resources/network.py
  tools/c7n_gcp/tests/data/flights/router-delete/delete-compute-v1-projects-mitrop-custodian-regions-us-central1-routers-test-router_1.json
  tools/c7n_gcp/tests/data/flights/router-delete/get-compute-v1-projects-mitrop-custodian-aggregated-routers_1.json
  tools/c7n_gcp/tests/data/flights/router-delete/get-compute-v1-projects-mitrop-custodian-regions-us-central1-routers_1.json
  tools/c7n_gcp/tests/test_network.py
Labels: cloud/gcp

#4389 azure - keyvault integration
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/c7n_azure/session.py
  tools/c7n_azure/c7n_azure/utils.py
  tools/c7n_azure/tests/data/test_auth_file_full.json
  tools/c7n_azure/tests/data/test_auth_file_kv.json
  tools/c7n_azure/tests/test_azure_utils.py
  tools/c7n_azure/tests/test_keyvault.py
  tools/c7n_azure/tests/test_session.py
Labels: cloud/azure

#4408 azure - add more logging to notification delivery in mailer
  tools/c7n_mailer/c7n_mailer/azure_mailer/azure_queue_processor.py
  tools/c7n_mailer/tests/common.py
  tools/c7n_mailer/tests/test_azure.py
Labels: area/tools-mailer, cloud/azure

#4384 azure - Storage account permission issues exception messages + Delete locked resource group should be logged and skipped
  tools/c7n_azure/c7n_azure/actions/notify.py
  tools/c7n_azure/c7n_azure/output.py
  tools/c7n_azure/c7n_azure/resources/resourcegroup.py
  tools/c7n_azure/tests/test_notify.py
  tools/c7n_azure/tests/test_output.py
Labels: cloud/azure

#4411 Azure - Remove MachineDecryption & Dashboard Setting
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/c7n_azure/functionapp_utils.py
  tools/c7n_azure/c7n_azure/provisioning/function_app.py
  tools/c7n_azure/tests/cassettes/DeploymentUnitsTest.test_function_app_consumption.json
  tools/c7n_azure/tests/cassettes/DeploymentUnitsTest.test_function_app_dedicated.json
  tools/c7n_azure/tests/cassettes/FunctionAppUtilsTest.test_deploy_function_app_pre_existing_app_fetch_actual_sku_tier.json
  tools/c7n_azure/tests/cassettes/FunctionAppUtilsTest.test_publish_functions_package_consumption.json
  tools/c7n_azure/tests/cassettes/FunctionAppUtilsTest.test_publish_functions_package_dedicated.json
  tools/c7n_azure/tests/templates/functionapp-reqs.json
  tools/c7n_azure/tests/test_deployment_units.py
  tools/c7n_azure/tests/test_functionapp_utils.py
Labels: cloud/azure

#4247 Dockerfile has mailer and cached Azure function packages
  Dockerfile
  tools/c7n_azure/c7n_azure/function_package.py
  tools/c7n_azure/c7n_azure/policy.py
  tools/c7n_azure/tests/test_function_package.py
  tools/c7n_mailer/c7n_mailer/azure_mailer/deploy.py
  tools/c7n_mailer/tests/test_azure.py
Labels: cloud/azure

#4429 azure - fix dedicated function deployments not updating consistently
  c7n/mu.py
  tools/c7n_azure/c7n_azure/function_package.py
  tools/c7n_azure/tests/test_function_package.py
  tools/c7n_azure/tests/test_functionapp_utils.py
Labels: cloud/azure, kind/bug

#4432 azure - function cache bug
  tools/c7n_azure/c7n_azure/function_package.py
Labels: cloud/azure, kind/bug

#4336 azure - update cost filter
  tools/c7n_azure/c7n_azure/filters.py
  tools/c7n_azure/c7n_azure/resources/arm.py
  tools/c7n_azure/tests/azure_common.py
  tools/c7n_azure/tests/cassettes/CostFilterTest.test_cost_resource.json
  tools/c7n_azure/tests/cassettes/CostFilterTest.test_cost_resource_group.json
  tools/c7n_azure/tests/cassettes/CostFilterTest.test_exact_cost.json
  tools/c7n_azure/tests/cassettes/CostFilterTest.test_timeframe_days.json
  tools/c7n_azure/tests/test_cost_filter.py
  tools/c7n_azure/tests/test_filters_cost.py
  tools/c7n_azure/tests/test_functional_filters_cost.py
Labels: cloud/azure

#4434 azure - fix applicationinsights functions packaging
  Dockerfile
  tools/c7n_azure/c7n_azure/dependency_manager.py
  tools/c7n_azure/c7n_azure/policy.py
  tools/c7n_azure/setup.py
  tools/c7n_azure/tests/test_dependency_manager.py
  tools/c7n_mailer/c7n_mailer/azure_mailer/deploy.py
Labels: cloud/azure

#4440 mailer-replay - update string encoding for printing in py3
  tools/c7n_mailer/c7n_mailer/replay.py
Labels: area/tools-mailer, scope/bitesize

#4431 azure - firewall enhance
  tools/c7n_azure/c7n_azure/filters.py
  tools/c7n_azure/tests/azure_common.py
  tools/c7n_azure/tests/cassettes/CosmosDBTest.firewall.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_firewall_rules_include.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_firewall_rules_include_cidr.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_firewall_rules_not_equal.json
  tools/c7n_azure/tests/cassettes/CosmosDBTest.test_firewall_rules_not_include_cidr.json
  tools/c7n_azure/tests/cassettes/SqlServerTest.firewall.json
  tools/c7n_azure/tests/cassettes/SqlServerTest.test_firewall_rules_equal.json
  tools/c7n_azure/tests/cassettes/SqlServerTest.test_firewall_rules_include_cidr.json
  tools/c7n_azure/tests/cassettes/SqlServerTest.test_firewall_rules_include_range.json
  tools/c7n_azure/tests/cassettes/SqlServerTest.test_firewall_rules_not_equal.json
  tools/c7n_azure/tests/cassettes/SqlServerTest.test_firewall_rules_not_include_all_ranges.json
  tools/c7n_azure/tests/cassettes/StorageTest.firewall.json
  tools/c7n_azure/tests/cassettes/StorageTest.test_firewall_rules_include.json
  tools/c7n_azure/tests/cassettes/StorageTest.test_firewall_rules_include_cidr.json
  tools/c7n_azure/tests/cassettes/StorageTest.test_firewall_rules_not_equal.json
  tools/c7n_azure/tests/cassettes/StorageTest.test_firewall_rules_not_include_all_ranges.json
  tools/c7n_azure/tests/cassettes/StorageTest.test_firewall_rules_not_include_cidr.json
  tools/c7n_azure/tests/test_cosmos_db.py
  tools/c7n_azure/tests/test_firewall_rules_filter.py
  tools/c7n_azure/tests/test_sqlserver.py
  tools/c7n_azure/tests/test_storage.py
Labels: cloud/azure

#4306 docs - Add manual groups
  docs/Makefile.sphinx
  tools/c7n_azure/c7n_azure/query.py
  tools/c7n_azure/c7n_azure/resources/access_control.py
  tools/c7n_azure/c7n_azure/resources/apimanagement.py
  tools/c7n_azure/c7n_azure/resources/appserviceplan.py
  tools/c7n_azure/c7n_azure/resources/batch.py
  tools/c7n_azure/c7n_azure/resources/cdn.py
  tools/c7n_azure/c7n_azure/resources/cognitive_service.py
  tools/c7n_azure/c7n_azure/resources/container_registry.py
  tools/c7n_azure/c7n_azure/resources/container_service.py
  tools/c7n_azure/c7n_azure/resources/cosmos_db.py
  tools/c7n_azure/c7n_azure/resources/data_factory.py
  tools/c7n_azure/c7n_azure/resources/databricks.py
  tools/c7n_azure/c7n_azure/resources/datalake_store.py
  tools/c7n_azure/c7n_azure/resources/disk.py
  tools/c7n_azure/c7n_azure/resources/dns_zone.py
  tools/c7n_azure/c7n_azure/resources/event_subscription.py
  tools/c7n_azure/c7n_azure/resources/generic_arm_resource.py
  tools/c7n_azure/c7n_azure/resources/image.py
  tools/c7n_azure/c7n_azure/resources/iot_hub.py
  tools/c7n_azure/c7n_azure/resources/k8s_service.py
  tools/c7n_azure/c7n_azure/resources/key_vault.py
  tools/c7n_azure/c7n_azure/resources/key_vault_keys.py
  tools/c7n_azure/c7n_azure/resources/load_balancer.py
  tools/c7n_azure/c7n_azure/resources/network_interface.py
  tools/c7n_azure/c7n_azure/resources/network_security_group.py
  tools/c7n_azure/c7n_azure/resources/policy_assignments.py
  tools/c7n_azure/c7n_azure/resources/public_ip.py
  tools/c7n_azure/c7n_azure/resources/record_set.py
  tools/c7n_azure/c7n_azure/resources/redis.py
  tools/c7n_azure/c7n_azure/resources/resourcegroup.py
  tools/c7n_azure/c7n_azure/resources/route_table.py
  tools/c7n_azure/c7n_azure/resources/sqldatabase.py
  tools/c7n_azure/c7n_azure/resources/sqlserver.py
  tools/c7n_azure/c7n_azure/resources/storage.py
  tools/c7n_azure/c7n_azure/resources/subscription.py
  tools/c7n_azure/c7n_azure/resources/vm.py
  tools/c7n_azure/c7n_azure/resources/vmss.py
  tools/c7n_azure/c7n_azure/resources/vnet.py
  tools/c7n_azure/c7n_azure/resources/web_app.py
  tools/c7n_sphinxext/c7n_sphinxext/_templates/provider-group.rst
  tools/c7n_sphinxext/c7n_sphinxext/_templates/provider-index.rst
  tools/c7n_sphinxext/c7n_sphinxext/_templates/provider-resource.rst
  tools/c7n_sphinxext/c7n_sphinxext/docgen.py
Labels: area/docs

#4444 Azure - docs - firewall scenario
  docs/source/azure/examples/firewall-rulesfiltering-general.rst
Labels: cloud/azure

#4426 Azure - Container Host
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/c7n_azure/container_host/__init__.py
  tools/c7n_azure/c7n_azure/container_host/host.py
  tools/c7n_azure/c7n_azure/container_host/modes.py
  tools/c7n_azure/c7n_azure/entry.py
  tools/c7n_azure/c7n_azure/output.py
  tools/c7n_azure/c7n_azure/policy.py
  tools/c7n_azure/c7n_azure/storage_utils.py
  tools/c7n_azure/setup.py
  tools/c7n_azure/tests/cassettes/AzurePolicyModeTest.resourcegroup.json
  tools/c7n_azure/tests/cassettes/AzurePolicyModeTest.test_empty_group_container_scheduled.json
  tools/c7n_azure/tests/test_container_host.py
  tools/c7n_azure/tests/test_policy.py
  tools/c7n_azure/tests/test_storageutils.py
Labels: area/lambda, cloud/azure

#4345 GCP Actions. Load balancer - SSL Policies. Delete
  docs/source/gcp/examples/loadbalancer-ssl-policy-delete-old-versions.rst
  tools/c7n_gcp/c7n_gcp/resources/loadbalancer.py
  tools/c7n_gcp/tests/data/flights/lb-ssl-policy-delete/delete-compute-v1-projects-custodian-test-project-0-global-sslPolicies-custodian-ssl-policy-3_1.json
  tools/c7n_gcp/tests/data/flights/lb-ssl-policy-delete/delete-compute-v1-projects-custodian-test-project-0-global-sslPolicies-ssl-policy-0_1.json
  tools/c7n_gcp/tests/data/flights/lb-ssl-policy-delete/get-compute-v1-projects-custodian-test-project-0-global-sslPolicies_1.json
  tools/c7n_gcp/tests/data/flights/lb-ssl-policy-delete/get-compute-v1-projects-custodian-test-project-0-global-sslPolicies_2.json
  tools/c7n_gcp/tests/test_loadbalancer.py
Labels: cloud/gcp

#4308 gcp - Cloud Dataflow get method updated tests resource
  tools/c7n_gcp/c7n_gcp/resources/dataflow.py
  tools/c7n_gcp/tests/data/events/df-job-create.json
  tools/c7n_gcp/tests/data/flights/dataflow-get-resource/get-v1b3-projects-cloud-custodian-jobs-2019-05-16_04_24_18-6110555549864901093_1.json
  tools/c7n_gcp/tests/test_dataflow.py
Labels: cloud/gcp

#3820 gcp - add stack driver logging initial setup
  tools/c7n_gcp/c7n_gcp/resources/logging.py
  tools/c7n_gcp/tests/data/events/log-create-project-exclusion.json
  tools/c7n_gcp/tests/data/events/log-create-project-metric.json
  tools/c7n_gcp/tests/data/events/log-create-project-sink.json
  tools/c7n_gcp/tests/data/flights/log-exclusion-get/get-v2-projects-test-project-232910-exclusions-qwerty_1.json
  tools/c7n_gcp/tests/data/flights/log-exclusion/get-v2-projects-cloud-custodian-exclusions_1.json
  tools/c7n_gcp/tests/data/flights/log-project-metric-get/get-v2-projects-cloud-custodian-metrics_1.json
  tools/c7n_gcp/tests/data/flights/log-project-metric-query/get-v2-projects-test-project-232910-metrics-test_name_1.json
  tools/c7n_gcp/tests/data/flights/log-project-sink-query/get-v2-projects-cloud-custodian-sinks_1.json
  tools/c7n_gcp/tests/data/flights/log-project-sink-resource/get-v2-projects-test-project-232910-sinks-testqqqqqqqqqqqqqqqqq_1.json
  tools/c7n_gcp/tests/data/flights/logsink-resource/get-v2-projects-cloud-custodian-sinks-storage_1.json
  tools/c7n_gcp/tests/data/flights/logsink/get-v2-projects-cloud-custodian-sinks_1.json
  tools/c7n_gcp/tests/test_logging.py
Labels: cloud/gcp
