Repository cloud-custodian/cloud-custodian, pull requests merged in 2020-03, with the labels that each got.

#5394 azure - fix some issues related to lazy load
  tools/c7n_azure/c7n_azure/policy.py
  tools/c7n_azure/tests_azure/test_actions_autotag-base.py
  tools/c7n_azure/tests_azure/test_actions_autotag-date.py
  tools/c7n_azure/tests_azure/test_actions_autotag-user.py
  tools/c7n_azure/tests_azure/test_filters_parent.py
Labels: cloud/azure, kind/bug

#5393 azure - azure functions using remote build
  .github/workflows/ci-master.yml
  Dockerfile
  c7n/mu.py
  tests/test_mu.py
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/c7n_azure/dependency_manager.py
  tools/c7n_azure/c7n_azure/function_package.py
  tools/c7n_azure/c7n_azure/functionapp_utils.py
  tools/c7n_azure/c7n_azure/policy.py
  tools/c7n_azure/c7n_azure/provisioning/function_app.py
  tools/c7n_azure/setup.py
  tools/c7n_azure/tests_azure/azure_common.py
  tools/c7n_azure/tests_azure/cassettes/FunctionAppUtilsTest.test_publish_functions_package_consumption.json
  tools/c7n_azure/tests_azure/cassettes/FunctionAppUtilsTest.test_publish_functions_package_dedicated.json
  tools/c7n_azure/tests_azure/test_dependency_manager.py
  tools/c7n_azure/tests_azure/test_function_package.py
  tools/c7n_azure/tests_azure/test_functionapp_utils.py
  tools/c7n_mailer/c7n_mailer/azure_mailer/deploy.py
  tools/c7n_mailer/c7n_mailer/deploy.py
  tools/c7n_mailer/tests/test_azure.py
Labels: cloud/azure

#5416 azure - Update max tag count to 50
  tools/c7n_azure/c7n_azure/actions/tagging.py
  tools/c7n_azure/tests_azure/test_actions_tag-trim.py
Labels: cloud/azure

#5447 azure - fix cache key
  tools/c7n_azure/c7n_azure/query.py
Labels: cloud/azure, kind/bug

#4466 core - policy execution conditions
  c7n/filters/__init__.py
  c7n/filters/core.py
  c7n/filters/missing.py
  c7n/policy.py
  c7n/provider.py
  c7n/schema.py
  c7n/structure.py
  c7n/utils.py
  docs/source/deployment.rst
  docs/source/quickstart/advanced.rst
  requirements.txt
  tests/test_policy.py
  tools/c7n_org/c7n_org/cli.py
Labels: area/core

#5319 aws.replication-group | Support elasticache replication group resource
  c7n/resources/elasticache.py
  c7n/resources/resource_map.py
  tests/data/placebo/test_elasticache_replication_group/elasticache.DescribeReplicationGroups_1.json
  tests/test_elasticache.py
Labels: cloud/aws, kind/enhancement
