Repository cloud-custodian/cloud-custodian, pull requests merged in 2020-02, with the labels that each got.

#5308 azure - fix consistent failures in live functionals
  tools/c7n_azure/c7n_azure/handler.py
  tools/c7n_azure/tests_azure/templates/aks.json
  tools/c7n_azure/tests_azure/tests_resources/test_storage.py
Labels: area/test-infra, cloud/azure

#5302 Filter for efs lifecycle-policy state
  c7n/resources/efs.py
  tests/data/placebo/test_filter_lifecycle_policy_absent/elasticfilesystem.DescribeFileSystems_1.json
  tests/data/placebo/test_filter_lifecycle_policy_absent/elasticfilesystem.DescribeLifecycleConfiguration_1.json
  tests/data/placebo/test_filter_lifecycle_policy_absent/elasticfilesystem.DescribeLifecycleConfiguration_2.json
  tests/data/placebo/test_filter_lifecycle_policy_absent/tagging.GetResources_1.json
  tests/data/placebo/test_filter_lifecycle_policy_present/elasticfilesystem.DescribeFileSystems_1.json
  tests/data/placebo/test_filter_lifecycle_policy_present/elasticfilesystem.DescribeLifecycleConfiguration_1.json
  tests/data/placebo/test_filter_lifecycle_policy_present/elasticfilesystem.DescribeLifecycleConfiguration_2.json
  tests/data/placebo/test_filter_lifecycle_policy_present/tagging.GetResources_1.json
  tests/data/placebo/test_filter_lifecycle_policy_value/elasticfilesystem.DescribeFileSystems_1.json
  tests/data/placebo/test_filter_lifecycle_policy_value/elasticfilesystem.DescribeLifecycleConfiguration_1.json
  tests/data/placebo/test_filter_lifecycle_policy_value/elasticfilesystem.DescribeLifecycleConfiguration_2.json
  tests/data/placebo/test_filter_lifecycle_policy_value/tagging.GetResources_1.json
  tests/test_efs.py
Labels: cloud/aws, kind/enhancement

#5181 GCP - Delete log sinks action
  tools/c7n_gcp/c7n_gcp/resources/logging.py
  tools/c7n_gcp/tests/data/flights/log-project-sink-delete/delete-v2-projects-custodian-tests-sinks-test-sink_1.json
  tools/c7n_gcp/tests/data/flights/log-project-sink-delete/get-v2-projects-custodian-tests-sinks-test-sink_1.json
  tools/c7n_gcp/tests/data/flights/log-project-sink-delete/get-v2-projects-custodian-tests-sinks_1.json
  tools/c7n_gcp/tests/test_logging.py
Labels: cloud/gcp

#5156 GCP - audit mode - support event actions and metrics
  tools/c7n_gcp/c7n_gcp/policy.py
Labels: cloud/gcp

#5102 GCP - Detach disks from instances
  tools/c7n_gcp/c7n_gcp/resources/compute.py
  tools/c7n_gcp/tests/data/flights/instance-detach-disks/get-compute-v1-projects-custodian-tests-aggregated-instances_1.json
  tools/c7n_gcp/tests/data/flights/instance-detach-disks/get-compute-v1-projects-custodian-tests-zones-us-central1-a-instances_1.json
  tools/c7n_gcp/tests/data/flights/instance-detach-disks/post-compute-v1-projects-custodian-tests-zones-us-central1-a-instances-test-ingwar-detachDisk_1.json
  tools/c7n_gcp/tests/data/flights/instance-detach-disks/post-compute-v1-projects-custodian-tests-zones-us-central1-a-instances-test-ingwar-detachDisk_2.json
  tools/c7n_gcp/tests/test_compute.py
Labels: cloud/gcp
