Repository cloud-custodian/cloud-custodian, pull requests merged in 2020-04, with the labels that each got.

#5515 Docker container using distroless base image
  Dockerfile
  tools/c7n_mailer/Dockerfile
  tools/c7n_org/Dockerfile
  tools/c7n_policystream/Dockerfile
  tools/c7n_policystream/poetry.lock
  tools/c7n_policystream/pyproject.toml
Labels: kind/refactor

#5305 azure - fix storage set-firewall-rules action
  docs/source/azure/examples/storageaddfirewallrulestostorage-databases-networking.rst
  tools/c7n_azure/c7n_azure/resources/storage.py
  tools/c7n_azure/tests_azure/cassettes/StorageTestFirewallActions.test_network_ip_rules_append_action.json
  tools/c7n_azure/tests_azure/test_storage_firewall_actions.py
Labels: cloud/azure, kind/bug

#5578 azure - Nightly tests fix
  .azure-pipelines/live-functional.yml
  tools/c7n_azure/tests_azure/azure_common.py
  tools/c7n_azure/tests_azure/templates/provision.sh
  tools/c7n_azure/tests_azure/test_deployment_units.py
  tools/c7n_azure/tests_azure/tests_resources/test_keyvault_storage.py
  tools/c7n_azure/tests_azure/tests_resources/test_postgresql_database.py
  tools/c7n_azure/tests_azure/tests_resources/test_postgresql_server.py
Labels: area/test-infra, cloud/azure

#5575 aws - directconnect tag augment and filter/actions
  c7n/resources/directconnect.py
Labels: cloud/aws

#5446 azure - unify autotag for event\resource
  tools/c7n_azure/c7n_azure/actions/tagging.py
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/tests_azure/test_actions_autotag-user.py
Labels: cloud/azure

#5594 c7n - tests - replace recorded data account ids with the test account id
  tests/common.py
  tests/zpill.py
Labels: kind/bug

#5590 aws - waf - tag support
  c7n/query.py
  c7n/resources/appelb.py
  c7n/resources/waf.py
  tests/data/placebo/test_appelb_waf/elasticloadbalancing.DescribeLoadBalancers_1.json
  tests/data/placebo/test_appelb_waf/elasticloadbalancing.DescribeLoadBalancers_2.json
  tests/data/placebo/test_appelb_waf/elasticloadbalancing.DescribeTags_1.json
  tests/data/placebo/test_appelb_waf/elasticloadbalancing.DescribeTags_2.json
  tests/data/placebo/test_appelb_waf/waf-regional.AssociateWebACL_1.json
  tests/data/placebo/test_appelb_waf/waf-regional.GetWebACL_1.json
  tests/data/placebo/test_appelb_waf/waf-regional.GetWebACL_2.json
  tests/data/placebo/test_appelb_waf/waf-regional.GetWebACL_3.json
  tests/data/placebo/test_appelb_waf/waf-regional.GetWebACL_4.json
  tests/data/placebo/test_appelb_waf/waf-regional.GetWebACL_5.json
  tests/data/placebo/test_appelb_waf/waf-regional.GetWebACL_6.json
  tests/data/placebo/test_appelb_waf/waf-regional.ListResourcesForWebACL_1.json
  tests/data/placebo/test_appelb_waf/waf-regional.ListResourcesForWebACL_2.json
  tests/data/placebo/test_appelb_waf/waf-regional.ListResourcesForWebACL_3.json
  tests/data/placebo/test_appelb_waf/waf-regional.ListResourcesForWebACL_4.json
  tests/data/placebo/test_appelb_waf/waf-regional.ListWebACLs_1.json
  tests/data/placebo/test_appelb_waf/waf-regional.ListWebACLs_2.json
  tests/data/placebo/test_appelb_waf/waf-regional.ListWebACLs_3.json
  tests/test_appelb.py
  tests/test_schema.py
Labels: cloud/aws

#5609 aws - rds - add validation for monitoring interval and monitoring role arn
  c7n/resources/rds.py
Labels: cloud/aws

#5612 aws - appelb - allow is-not-logging filter for network ELBs
  c7n/resources/appelb.py
Labels: cloud/aws

#5622 aws.glue-catalog | cross-account filter
  c7n/resources/glue.py
  tests/data/placebo/test_glue_catalog_cross_account/glue.GetDataCatalogEncryptionSettings_1.json
  tests/data/placebo/test_glue_catalog_cross_account/glue.GetResourcePolicy_1.json
  tests/test_glue.py
Labels: cloud/aws

#4973 aws - security group - add/set-permissions
  c7n/resources/vpc.py
  docs/source/aws/examples/securitygroupsaddpermission.rst
  tests/data/placebo/test_security_group_set_permissions/config.SelectResourceConfig_1.json
  tests/data/placebo/test_security_group_set_permissions/ec2.AuthorizeSecurityGroupIngress_1.json
  tests/data/placebo/test_security_group_set_permissions/ec2.AuthorizeSecurityGroupIngress_2.json
  tests/data/placebo/test_security_group_set_permissions/ec2.DescribeSecurityGroups_1.json
  tests/data/placebo/test_security_group_set_permissions/ec2.RevokeSecurityGroupEgress_1.json
  tests/data/placebo/test_security_group_set_permissions/ec2.RevokeSecurityGroupIngress_1.json
  tests/test_vpc.py
Labels: priority/P1, status/2-code-review

#5624 aws - lambda - kms key filter
  c7n/resources/awslambda.py
  tests/data/placebo/test_lambda_kms_key_filter/kms.DescribeKey_1.json
  tests/data/placebo/test_lambda_kms_key_filter/kms.ListAliases_1.json
  tests/data/placebo/test_lambda_kms_key_filter/kms.ListAliases_2.json
  tests/data/placebo/test_lambda_kms_key_filter/kms.ListKeys_1.json
  tests/data/placebo/test_lambda_kms_key_filter/lambda.ListFunctions_1.json
  tests/data/placebo/test_lambda_kms_key_filter/tagging.GetResources_1.json
  tests/test_lambda.py
Labels: cloud/aws

#5465 aws- glue - security configuration filter
  c7n/resources/glue.py
  tests/data/placebo/test_glue_sec_config_filter/glue.GetCrawlers_1.json
  tests/data/placebo/test_glue_sec_config_filter/glue.GetSecurityConfigurations_1.json
  tests/data/placebo/test_glue_sec_config_filter/glue.GetSecurityConfigurations_2.json
  tests/data/placebo/test_glue_sec_config_filter/tagging.GetResources_1.json
  tests/test_glue.py
Labels: cloud/aws

#5582 AWS - internet-gateway delete action
  c7n/resources/vpc.py
  tests/data/placebo/test_internet_gateways_delete/ec2.DeleteInternetGateway_1.json
  tests/data/placebo/test_internet_gateways_delete/ec2.DescribeInternetGateways_1.json
  tests/data/placebo/test_internet_gateways_delete/ec2.DescribeInternetGateways_2.json
  tests/test_vpc.py
Labels: cloud/aws

#5626 aws - sagemaker - kms key filter
  c7n/resources/sagemaker.py
  tests/data/placebo/test_sagemaker_endpoint_config_kms_key_filter/api.sagemaker.DescribeEndpointConfig_1.json
  tests/data/placebo/test_sagemaker_endpoint_config_kms_key_filter/api.sagemaker.ListEndpointConfigs_1.json
  tests/data/placebo/test_sagemaker_endpoint_config_kms_key_filter/api.sagemaker.ListTags_1.json
  tests/data/placebo/test_sagemaker_endpoint_config_kms_key_filter/kms.DescribeKey_1.json
  tests/data/placebo/test_sagemaker_endpoint_config_kms_key_filter/kms.ListAliases_1.json
  tests/data/placebo/test_sagemaker_endpoint_config_kms_key_filter/kms.ListAliases_2.json
  tests/data/placebo/test_sagemaker_endpoint_config_kms_key_filter/kms.ListKeys_1.json
  tests/data/placebo/test_sagemaker_endpoint_config_kms_key_filter/tagging.GetResources_1.json
  tests/data/placebo/test_sagemaker_notebook_kms_key_filter/api.sagemaker.DescribeNotebookInstance_1.json
  tests/data/placebo/test_sagemaker_notebook_kms_key_filter/api.sagemaker.ListNotebookInstances_1.json
  tests/data/placebo/test_sagemaker_notebook_kms_key_filter/api.sagemaker.ListTags_1.json
  tests/data/placebo/test_sagemaker_notebook_kms_key_filter/kms.DescribeKey_1.json
  tests/data/placebo/test_sagemaker_notebook_kms_key_filter/kms.ListAliases_1.json
  tests/data/placebo/test_sagemaker_notebook_kms_key_filter/kms.ListAliases_2.json
  tests/data/placebo/test_sagemaker_notebook_kms_key_filter/kms.ListKeys_1.json
  tests/data/placebo/test_sagemaker_notebook_kms_key_filter/tagging.GetResources_1.json
  tests/test_sagemaker.py
Labels: cloud/aws

#5650 aws - ebs - skip missing volumes
  c7n/resources/ebs.py
  tests/data/placebo/test_ebs_snapshot_copy_related_tags_missing_volumes/ec2.DescribeSnapshots_1.json
  tests/data/placebo/test_ebs_snapshot_copy_related_tags_missing_volumes/ec2.DescribeVolumes_1.json
  tests/test_ebs.py
Labels: cloud/aws

#5577 aws - cloudfront - logging filter for distributions
  c7n/resources/cloudfront.py
  tests/data/placebo/test_distribution_check_logging_enabled/cloudfront.GetDistributionConfig_1.json
  tests/data/placebo/test_distribution_check_logging_enabled/cloudfront.ListDistributions_1.json
  tests/data/placebo/test_distribution_check_logging_enabled/tagging.GetResources_1.json
  tests/test_cloudfront.py
Labels: cloud/aws

#5648 aws - asg - null launch template
  c7n/resources/asg.py
  c7n/resources/ec2.py
Labels: cloud/aws

#5585 aws - eks - delete nodegroups & fargate profiles
  c7n/resources/eks.py
  tests/data/placebo/test_eks_delete/eks.ListFargateProfiles_1.json
  tests/data/placebo/test_eks_delete/eks.ListNodegroups_1.json
  tests/data/placebo/test_eks_delete_with_both/eks.DeleteCluster_1.json
  tests/data/placebo/test_eks_delete_with_both/eks.DeleteFargateProfile_1.json
  tests/data/placebo/test_eks_delete_with_both/eks.DeleteNodegroup_1.json
  tests/data/placebo/test_eks_delete_with_both/eks.DescribeCluster_1.json
  tests/data/placebo/test_eks_delete_with_both/eks.DescribeFargateProfile_1.json
  tests/data/placebo/test_eks_delete_with_both/eks.DescribeNodegroup_1.json
  tests/data/placebo/test_eks_delete_with_both/eks.ListClusters_1.json
  tests/data/placebo/test_eks_delete_with_both/eks.ListFargateProfiles_1.json
  tests/data/placebo/test_eks_delete_with_both/eks.ListFargateProfiles_2.json
  tests/data/placebo/test_eks_delete_with_both/eks.ListFargateProfiles_3.json
  tests/data/placebo/test_eks_delete_with_both/eks.ListNodegroups_1.json
  tests/data/placebo/test_eks_delete_with_both/eks.ListNodegroups_2.json
  tests/data/placebo/test_eks_delete_with_both/eks.ListNodegroups_3.json
  tests/test_eks.py
Labels: kind/enhancement
