Repository cloud-custodian/cloud-custodian, pull requests merged in 2021-02, with the labels that each got.

#6416 azure - small container host bug fixes
  tools/c7n_azure/c7n_azure/container_host/host.py
  tools/c7n_azure/tests_azure/tests_resources/test_container_host.py
Labels: cloud/azure

#6415 azure - action tracing and output improvements
  tools/c7n_azure/c7n_azure/actions/base.py
  tools/c7n_azure/c7n_azure/actions/delete.py
  tools/c7n_azure/c7n_azure/actions/lock.py
  tools/c7n_azure/c7n_azure/actions/tagging.py
  tools/c7n_azure/c7n_azure/policy.py
  tools/c7n_azure/c7n_azure/query.py
  tools/c7n_azure/c7n_azure/tags.py
  tools/c7n_azure/tests_azure/test_base_action.py
Labels: cloud/azure

#6435 azure - fix azure mailer bugs
  tools/c7n_azure/requirements.txt
  tools/c7n_azure/setup.py
  tools/c7n_mailer/c7n_mailer/azure_mailer/deploy.py
  tools/c7n_mailer/c7n_mailer/utils.py
  tools/c7n_mailer/tests/test_azure.py
Labels: area/tools-mailer, cloud/azure

#5423 azure - support multiple azure clouds
  docs/source/azure/configuration/authentication.rst
  tools/c7n_azure/c7n_azure/constants.py
  tools/c7n_azure/c7n_azure/provider.py
  tools/c7n_azure/c7n_azure/query.py
  tools/c7n_azure/c7n_azure/resources/access_control.py
  tools/c7n_azure/c7n_azure/resources/cosmos_db.py
  tools/c7n_azure/c7n_azure/resources/key_vault.py
  tools/c7n_azure/c7n_azure/resources/key_vault_certificate.py
  tools/c7n_azure/c7n_azure/resources/key_vault_keys.py
  tools/c7n_azure/c7n_azure/resources/key_vault_storage.py
  tools/c7n_azure/c7n_azure/session.py
  tools/c7n_azure/c7n_azure/storage_utils.py
  tools/c7n_azure/c7n_azure/utils.py
  tools/c7n_azure/tests_azure/azure_common.py
  tools/c7n_azure/tests_azure/test_azure_utils.py
  tools/c7n_azure/tests_azure/test_provider.py
  tools/c7n_azure/tests_azure/test_session.py
  tools/c7n_azure/tests_azure/test_storageutils.py
  tools/c7n_mailer/c7n_mailer/azure_mailer/handle.py
  tools/c7n_mailer/c7n_mailer/azure_mailer/utils.py
Labels: cloud/azure

#6468 azure - live test fixes
  tools/c7n_azure/tests_azure/cassettes/FirewallActionsTest.test_build_ip_rules_alias.json
  tools/c7n_azure/tests_azure/test_firewall_actions.py
  tools/c7n_azure/tests_azure/test_utils_ip_range_helper.py
Labels: cloud/azure

#6473 azure - skip azure china tenant tests in live functionals
  tools/c7n_azure/tests_azure/test_session.py
Labels: cloud/azure

#6484 Initial devcontainer.json for VSCode and CodeSpaces
  .devcontainer/devcontainer.json
  .devcontainer/prep_container.sh
  tools/dev/docker_tox_linux/Dockerfile
  tools/dev/docker_tox_windows/Dockerfile
Labels: area/tools
