Repository cloud-custodian/cloud-custodian, pull requests merged in 2023-03, with the labels that each got.

#8370 tools/c7n-mailer - unique email list
  tools/c7n_mailer/c7n_mailer/email_delivery.py
  tools/c7n_mailer/c7n_mailer/utils.py
Labels: area/tools-mailer

#8361 gcp new filter access-approval
  tools/c7n_gcp/c7n_gcp/filters/__init__.py
  tools/c7n_gcp/c7n_gcp/resources/resourcemanager.py
  tools/c7n_gcp/tests/data/flights/filter-access-approval-disabled-precon/get-v1-projects-cloud-custodian-accessApprovalSettings_1.json
  tools/c7n_gcp/tests/data/flights/filter-access-approval-disabled-precon/get-v1-projects_1.json
  tools/c7n_gcp/tests/data/flights/filter-access-approval-disabled/get-v1-projects-cloud-custodian-accessApprovalSettings_1.json
  tools/c7n_gcp/tests/data/flights/filter-access-approval-disabled/get-v1-projects_1.json
  tools/c7n_gcp/tests/data/flights/filter-access-approval-enabled/get-v1-projects-cloud-custodian-accessApprovalSettings_1.json
  tools/c7n_gcp/tests/data/flights/filter-access-approval-enabled/get-v1-projects-cloud-custodian-accessApprovalSettings_2.json
  tools/c7n_gcp/tests/data/flights/filter-access-approval-enabled/get-v1-projects_1.json
  tools/c7n_gcp/tests/test_resourcemanager.py
Labels: provider/gcp

#8303 adding gcp filter essentialcontacts
  c7n/filters/core.py
  c7n/schema.py
  tools/c7n_gcp/c7n_gcp/resources/resourcemanager.py
  tools/c7n_gcp/tests/data/flights/filter-essentialcontacts/get-v1-organizations-999999999999-contacts_1.json
  tools/c7n_gcp/tests/data/flights/filter-essentialcontacts/post-v1-organizations-search_1.json
  tools/c7n_gcp/tests/test_resourcemanager.py
Labels: provider/gcp

#8336 sns subscription unused #8316
  c7n/resources/sns.py
  tests/data/placebo/test_subscription_unused/sns.ListSubscriptions_1.json
  tests/data/placebo/test_subscription_unused/sns.ListTopics_1.json
  tests/test_sns.py
Labels: provider/aws

#8312 feat: new filter for azure network security group flow logs
  tools/c7n_azure/c7n_azure/resources/network_security_group.py
  tools/c7n_azure/tests_azure/cassettes/NetworkSecurityGroupFlowLogsFilterTest.test_flow_log_filter_all.json
  tools/c7n_azure/tests_azure/cassettes/NetworkSecurityGroupFlowLogsFilterTest.test_flow_log_filter_matching.json
  tools/c7n_azure/tests_azure/templates/networksecuritygroup.json
  tools/c7n_azure/tests_azure/tests_resources/test_networksecuritygroup.py
Labels: provider/azure

#8309 feat: adding flag to allow the inclusion of the azure 'magic' ip range for sql and postgresql
  tools/c7n_azure/c7n_azure/filters.py
  tools/c7n_azure/c7n_azure/resources/postgresql_server.py
  tools/c7n_azure/c7n_azure/resources/sqlserver.py
  tools/c7n_azure/tests_azure/tests_resources/test_postgresql_server.py
  tools/c7n_azure/tests_azure/tests_resources/test_sqlserver.py
Labels: provider/azure
