Repository cloud-custodian/cloud-custodian, pull requests merged in 2023-09, with the labels that each got.

#8938 gcp - spanner-backup: iam filter
  tools/c7n_gcp/c7n_gcp/resources/spanner.py
  tools/c7n_gcp/tests/data/flights/spanner-backup-iam/get-v1-projects-cloud-custodian-instances-terrapin-spanner-instance-backups_1.json
  tools/c7n_gcp/tests/data/flights/spanner-backup-iam/get-v1-projects-cloud-custodian-instances_1.json
  tools/c7n_gcp/tests/data/flights/spanner-backup-iam/post-v1-projects-cloud-custodian-instances-terrapin-spanner-instance-backups-terrapin-backup-getIamPolicy_1.json
  tools/c7n_gcp/tests/data/flights/spanner-instance-backup-filter-iam/get-v1-projects-cloud-custodian-instances-test-spanner-backups_1.json
  tools/c7n_gcp/tests/data/flights/spanner-instance-backup-filter-iam/get-v1-projects-cloud-custodian-instances_1.json
  tools/c7n_gcp/tests/data/flights/spanner-instance-backup-filter-iam/post-v1-projects-cloud-custodian-instances-test-spanner-backups-test_backup-getIamPolicy_1.json
  tools/c7n_gcp/tests/terraform/spanner_backup/main.tf
  tools/c7n_gcp/tests/terraform/spanner_backup/tf_resources.json
  tools/c7n_gcp/tests/test_spanner.py
Labels: provider/gcp

#8903 gcp - kms keyring filter
  tools/c7n_gcp/c7n_gcp/resources/kms.py
  tools/c7n_gcp/c7n_gcp/resources/resource_map.py
  tools/c7n_gcp/tests/data/flights/kms-keyring-filter/get-v1-projects-cloud-custodian-locations-us-central1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-filter/get-v1-projects-cloud-custodian-locations-us-west1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-filter/get-v1-projects-cloud-custodian-locations_1.json
  tools/c7n_gcp/tests/data/flights/kms-keyring-filter/get-v1-projects-cloud-custodian-locations_2.json
  tools/c7n_gcp/tests/data/flights/kms-location/get-v1-projects-cloud-custodian-locations-us-central1-keyRings_1.json
  tools/c7n_gcp/tests/data/flights/kms-location/get-v1-projects-cloud-custodian-locations_1.json
  tools/c7n_gcp/tests/terraform/kms_location/main.tf
  tools/c7n_gcp/tests/terraform/kms_location/tf_resources.json
  tools/c7n_gcp/tests/test_kms.py
Labels: provider/gcp

#8984 c7n-left - handle null provider tags when augmenting
  tools/c7n_left/c7n_left/providers/terraform/provider.py
  tools/c7n_left/tests/test_left.py
Labels: provider/shift-left

#8967 GCP: adding support for setting high availability sql instances
  tools/c7n_gcp/c7n_gcp/resources/sql.py
  tools/c7n_gcp/tests/data/flights/sqlinstance-high-availability/get-sql-v1beta4-projects-cloud-custodian-instances-custodiantestsql_1.json
  tools/c7n_gcp/tests/data/flights/sqlinstance-high-availability/get-sql-v1beta4-projects-cloud-custodian-instances_1.json
  tools/c7n_gcp/tests/data/flights/sqlinstance-high-availability/patch-sql-v1beta4-projects-cloud-custodian-instances-custodiantestsql_1.json
  tools/c7n_gcp/tests/test_sql.py
Labels: provider/gcp

#8905 Create new filter keyvault-keys-rotation to check rotation policy
  tools/c7n_azure/c7n_azure/resources/key_vault_keys.py
  tools/c7n_azure/tests_azure/cassettes/KeyVaultKeyTest.test_key_vault_keys_rotation.json
  tools/c7n_azure/tests_azure/tests_resources/test_keyvault_keys.py
Labels: provider/azure

#8880 Enhancement/adding valid gcp node versions, master version, and imagetype to nodepool and cluster resources
  tools/c7n_gcp/c7n_gcp/resources/gke.py
  tools/c7n_gcp/tests/data/flights/gke-cluster-filter-server-config/get-v1-projects-cloud-custodian-locations---clusters_1.json
  tools/c7n_gcp/tests/data/flights/gke-cluster-filter-server-config/get-v1-projects-cloud-custodian-locations-us-central1-serverConfig_1.json
  tools/c7n_gcp/tests/data/flights/gke-cluster-filter-server-config/get-v1-projects-cloud-custodian-locations-us-central1-serverConfig_2.json
  tools/c7n_gcp/tests/data/flights/gke-cluster-nodepool-filter-server-config/get-v1-projects-cloud-custodian-locations---clusters_1.json
  tools/c7n_gcp/tests/data/flights/gke-cluster-nodepool-filter-server-config/get-v1-projects-cloud-custodian-locations-us-central1-clusters-c7nsuccessnode-cluster-1-nodePools_1.json
  tools/c7n_gcp/tests/data/flights/gke-cluster-nodepool-filter-server-config/get-v1-projects-cloud-custodian-locations-us-central1-serverConfig_1.json
  tools/c7n_gcp/tests/data/flights/gke-cluster-nodepool-filter-server-config/get-v1-projects-cloud-custodian-locations-us-central1-serverConfig_2.json
  tools/c7n_gcp/tests/test_gke.py
Labels: provider/gcp

#8960 aws - s3 - only check local trails in data-events filter
  c7n/resources/s3.py
  tests/data/placebo/test_s3_data_events/cloudtrail.DescribeTrails_1.json
  tests/data/placebo/test_s3_data_events/cloudtrail.GetEventSelectors_1.json
  tests/data/placebo/test_s3_data_events/cloudtrail.GetEventSelectors_2.json
  tests/data/placebo/test_s3_data_events/s3.ListBuckets_1.json
  tests/data/placebo/test_s3_data_events/tagging.GetResources_1.json
  tests/test_s3.py
Labels: provider/aws
