Repository cloud-custodian/cloud-custodian, pull requests merged in 2023-08, with the labels that each got.

#8770 azure - filters - azure advisor recommendation filter
  tools/c7n_azure/c7n_azure/filters.py
  tools/c7n_azure/c7n_azure/query.py
  tools/c7n_azure/c7n_azure/resources/advisor.py
  tools/c7n_azure/c7n_azure/resources/generic_arm_resource.py
  tools/c7n_azure/tests_azure/cassettes/AdvisorRecommendationTest.test_advisor_recommendation_filter.json
  tools/c7n_azure/tests_azure/cassettes/AdvisorRecommendationTest.test_find_by_category.json
  tools/c7n_azure/tests_azure/tests_resources/test_advisor.py
Labels: area/filters, provider/azure

#8697 gcp - cloud run revision
  tools/c7n_gcp/c7n_gcp/resources/cloudrun.py
  tools/c7n_gcp/c7n_gcp/resources/resource_map.py
  tools/c7n_gcp/tests/data/flights/gcp-cloud-run-revision/get-apis-serving.knative.dev-v1-namespaces-cloud-custodian-revisions_1.json
  tools/c7n_gcp/tests/test_cloudrun.py
Labels: provider/gcp

#8748 OCI support for Multi region and c7n Org
  tools/c7n_oci/c7n_oci/provider.py
  tools/c7n_oci/c7n_oci/query.py
  tools/c7n_oci/c7n_oci/session.py
  tools/c7n_oci/c7n_oci/utils.py
  tools/c7n_oci/tests/cassettes/TestIdentityTerraformTest.test_identity_update_user_tag.yml
  tools/c7n_oci/tests/cassettes/TestPolicyCollection.test_all_region.yml
  tools/c7n_oci/tests/cassettes/TestPolicyCollection.test_invalid_region.yml
  tools/c7n_oci/tests/cassettes/TestPolicyCollection.test_multi_region.yml
  tools/c7n_oci/tests/test_identity.py
  tools/c7n_oci/tests/test_multi_region.py
  tools/c7n_org/README.md
  tools/c7n_org/c7n_org/cli.py
  tools/c7n_org/scripts/ocitenancies.py
  tools/c7n_org/tests/test_org.py
Labels: provider/oci

#8754 Oci metrics query optimization
  tools/c7n_oci/c7n_oci/resources/compute.py
  tools/c7n_oci/tests/cassettes/TestInstance.test_instance_metrics.yml
  tools/c7n_oci/tests/cassettes/TestInstance.test_instance_metrics_by_chunks.yml
  tools/c7n_oci/tests/cassettes/TestInstance.test_instance_monitoring.yml
  tools/c7n_oci/tests/oci_flight_recorder.py
  tools/c7n_oci/tests/test_instance.py
Labels: provider/oci

#8699 gcp - added spanner-instance-backup
  tools/c7n_gcp/c7n_gcp/filters/__init__.py
  tools/c7n_gcp/c7n_gcp/filters/timerange.py
  tools/c7n_gcp/c7n_gcp/resources/bigtable.py
  tools/c7n_gcp/c7n_gcp/resources/resource_map.py
  tools/c7n_gcp/c7n_gcp/resources/spanner.py
  tools/c7n_gcp/tests/data/flights/test-iam-spanner-instance/get-v1-projects-cloud-custodian-instances_1.json
  tools/c7n_gcp/tests/data/flights/test-spanner-instance-backup/get-v1-projects-cloud-custodian-instances-spanner-instance-0-backups_1.json
  tools/c7n_gcp/tests/data/flights/test-spanner-instance-backup/get-v1-projects-cloud-custodian-instances_1.json
  tools/c7n_gcp/tests/test_spanner.py
Labels: provider/gcp
